src/nodered/plugins/actions/baseAction.json
[{"id":"d843fb90.ab146","type":"subflow","name":"Templates","info":"","in":[{"x":106,"y":231,"wires":[{"id":"f3bf587a.d6268"}]}],"out":[]},{"id":"f3bf587a.d6268","type":"switch","z":"d843fb90.ab146","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"issueme","vt":"str"},{"t":"eq","v":"memberInput","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":310.9999237060547,"y":254.83334350585938,"wires":[["37bcea08.2476e6"],["2656ae55.1691da"],["bb656cae.7826e"]]},{"id":"62d1e80a.03d7c8","type":"http response","z":"d843fb90.ab146","name":"","x":1179.8960418701172,"y":750.8889465332031,"wires":[]},{"id":"2c7ff7d2.f75938","type":"comment","z":"d843fb90.ab146","name":"★action = \"issueme\"","info":"","x":838.8957366943359,"y":182.88888549804688,"wires":[]},{"id":"bb656cae.7826e","type":"http response","z":"d843fb90.ab146","name":"","x":1356.8959197998047,"y":595.888916015625,"wires":[]},{"id":"2656ae55.1691da","type":"template","z":"d843fb90.ab146","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js\"></script>\n        <script>\n        $(document).ready(function(){\n            $(\".btn_ajax\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $.ajax({\n                        url: form.attr('action'),\n                        type: form.attr('method'),\n                        data: form.serialize(),\n                        timeout: 10000,\n                        success:ajaxSuccess\n                    })\n                });\n             $(\".btn_submit\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $(form).submit();\n                   \n                });  \n            function ajaxSuccess(result){\n                //정상일때 메세지 \n                //正常時のメッセージ\n                var msg = result.msg;\n                //에러일때 메세지 \n                //エラー時のメッセージ\n                var errMsg = result.errMsg;\n                $(errMsg).each(function(index){\n                        $(\".msgAreaUl\").append(\"<li>\"+this+\"</li>\");\n                    });\n                 //에러난 태그\n                //エラー箇所\n                var errLocation = result.errLocation;\n                    $(errLocation).each(function(index){\n                        var input = $(\"#\"+this);\n                        if($(input).attr(\"type\") === \"text\" || $(input).attr(\"type\") === \"password\" ){\n                            $(input).css({\n                                \"borderColor\":\"red\"\n                            });\n                        }\n                    });\n                }\n                \n                $(\".ime_disabled\").on(\"keydown\", function(e){\n                if(e.which > 20){\n                var c = String.fromCharCode(e.which);\n\t\t         if(c.match(/[^A-Za-z0-9]+/)){\n\t\t              return false;\n\t\t          }\n                }\n                });\n        });\n        </script>\n    </head>\n    <body>\n        <div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n        <h1>회원가입</h1>\n         <form action = \"/joinVerify\" method =\"post\" id=\"joinVerify\">\n            <table>\n                <tr>\n                    <td>성</td>\n                    <td><input type=\"text\" name =\"tomoVupi002[family_name]\" id = \"family_name\"  /></td>\n                 </tr> \n                  <tr>\n                    <td>이름</td>\n                    <td><input type=\"text\" name =\"tomoVupi002[first_name]\" id = \"first_name\" /></td>\n                </tr> \n                <tr>\n                    <td>이메일</td>\n                    <td> <input type=\"email\" name =\"tomoVupi002[email]\" id =\"email\" class=\"text ime_disabled\"></td>\n                </tr>\n                <tr>\n                    <td>이메일확인</td>\n                    <td><input type=\"email\" name =\"tomoVupi002[email_verify]\" id = \"email_verify\" /></td>\n                </tr>   \n                <tr>\n                    <td>패스워드</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr> \n                 <tr>\n                    <td>생일</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr> \n                 <tr>\n                    <td>성별</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr>  \n                <tr>\n                    <td colspan =\"2\"><button type=\"button\" class =\"btn_submit\" action = \"joinVerify\" value = \"회원가입\" >회원가입</button></td>\n                </tr>   \n            </table>\n             </form>\n    </body>\n</html>","x":834.8957977294922,"y":342.8888854980469,"wires":[["bb656cae.7826e"]]},{"id":"b68dfc31.8802a8","type":"comment","z":"d843fb90.ab146","name":"★action = \"memberInput\"","info":"","x":860.8958129882812,"y":298.8888854980469,"wires":[]},{"id":"d6ae502a.98c868","type":"template","z":"d843fb90.ab146","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js\"></script>\n        <script>\n        $(document).ready(function(){\n            $(\".btn_ajax\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $.ajax({\n                        url: form.attr('action'),\n                        type: form.attr('method'),\n                        data: form.serialize(),\n                        timeout: 10000,\n                        success:ajaxSuccess\n                    })\n                });\n                 $(\".btn_submit\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $(form).submit();\n                   \n                });  \n            function ajaxSuccess(result){\n                //정상일때 메세지 \n                //正常時のメッセージ\n                var msg = result.msg;\n                //에러일때 메세지 \n                //エラー時のメッセージ\n                var errMsg = result.errMsg;\n                $(errMsg).each(function(index){\n                        $(\".msgAreaUl\").append(\"<li>\"+this+\"</li>\");\n                    });\n                 //에러난 태그\n                //エラー箇所\n                var errLocation = result.errLocation;\n                    $(errLocation).each(function(index){\n                        var input = $(\"#\"+this);\n                        if($(input).attr(\"type\") === \"text\" || $(input).attr(\"type\") === \"password\" ){\n                            $(input).css({\n                                \"borderColor\":\"red\"\n                            });\n                        }\n                    });\n                }\n                \n                $(\".ime_disabled\").on(\"keydown\", function(e){\n                if(e.which > 20){\n                var c = String.fromCharCode(e.which);\n\t\t         if(c.match(/[^A-Za-z0-9]+/)){\n\t\t              return false;\n\t\t          }\n                }\n                });\n        });\n        </script>\n    </head>\n    <body>\n        <div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n         <form action = \"/login\" method =\"post\" id=\"login\">\n            <table>\n                <tr>\n                    <td>이메일</td>\n                    <td> <input type=\"text\" name =\"tomoVupi001[email]\" id =\"email\" class=\"text ime_disabled\"></td>\n                </tr>\n                <tr>\n                    <td>패스워드</td>\n                    <td><input type=\"password\" name =\"tomoVupi001[password]\" id = \"password\" /></td>\n                </tr>   \n                <tr>\n                    <td colspan =\"2\"><button type=\"button\" class =\"btn_ajax\" action = \"login\" value = \"로그인\" >로그인</button></td>\n                </tr>   \n            </table>\n             </form>\n        <form action =\"/memberInput\" method =\"get\" id =\"memberInput\" >\n            <button type=\"button\" class =\"btn_submit\" action = \"memberInput\" value = \"가입하기\" >가입하기</button>\n        </form>\n    </body>\n</html>","x":1166.4630126953125,"y":80.09091186523438,"wires":[[]]},{"id":"37bcea08.2476e6","type":"template","z":"d843fb90.ab146","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>로그인페이지</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"/vender/bootstrap-3.3.6-dist/css/bootstrap.min.css\">\n  <link rel=\"stylesheet\" href=\"/vender/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css\" >\n  <link rel=\"stylesheet\" href=\"/css/front/issVUpi001.css\" >\n  <script src=\"/js/jquery-2.2.4.min.js\"></script>\n  <script src=\"/vender/bootstrap-3.3.6-dist/js/bootstrap.min.js\"></script>\n  <script src=\"/js/issuemeBase.js\"></script>\n</head>\n\n<body>\n<nav class=\"navbar navbar-inverse\">\n  <div class=\"container-fluid\">\n    <div class=\"navbar-header\">\n     <!-- <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"#myNavbar\">\n        <span class=\"icon-bar\"></span>\n        <span class=\"icon-bar\"></span>\n        <span class=\"icon-bar\"></span>                        \n      </button>-->\n      <a class=\"navbar-brand\" href=\"#\">Issume</a>\n    </div>\n    <div class=\"collapse navbar-collapse\" id=\"myNavbar\">\n    <!--  <ul class=\"nav navbar-nav\">\n        <li class=\"active\"><a href=\"#\">Home</a></li>\n        <li><a href=\"#\">About</a></li>\n        <li><a href=\"#\">Projects</a></li>\n        <li><a href=\"#\">Contact</a></li>\n      </ul>-->\n      <ul class=\"nav navbar-nav navbar-right\">\n        <li><a href=\"#\"><span class=\"glyphicon glyphicon-log-in\"></span> Login</a></li>\n      </ul>\n    </div>\n  </div>\n</nav>\n  \n<div class=\"container-responsive text-center\">    \n    <div class=\"row\"> \n       <div class= \"col-md-7\">\n            <h1 class=\"display-heading-1 jumbotron-title\">Issue&nbsp;your&nbsp;interests</h1>\n            <p class=\"display-intro jumbotron-lead\">당신의 관심사를 남과 공유하면서 친구를 만들어보아요!</p>\n       </div>\n        <div class= \"col-md-5 hidden-sm hidden-xs\">\n          <form action = \"/join\" method =\"post\" id=\"join\"> \n               <div class=\"container\">\n                   <div class=\"row\">\n                      <div class=\"col-sm-5\"><input type=\"text\" class=\"form-control input-border-nickname\" placeholder=\"닉네임을 입력하세요\" name=\"tomoVupi001[nickname]\" id=\"nickname\" ></div>\n                    </div>\n                     <div class=\"row\">\n                      <div class=\"col-sm-5\"><input type=\"email\" class=\"form-control input-border-email\" placeholder=\"이메일을 입력하세요\" name=\"tomoVupi001[email]\" id=\"email\" ></div>\n                    </div>\n                     <div class=\"row\">\n                      <div class=\"col-sm-5\"><input type=\"password\" class=\"form-control input-border-password\" placeholder=\"패스워드를 입력하세요\" name=\"tomoVupi001[password]\" id=\"password\" ></div>\n                    </div>\n                     <div class=\"row\">\n                      <div class=\"col-sm-5\"> <button type=\"button\" class =\"btn btn-primary btn-block btn_ajax\" action = \"join\" >JOIN</button> </div>\n                    </div>\n    \t       </div>\n          </form> \n        </div>\n  </div>\n</div>\n<footer class=\"container-fluid text-center\">\n  <p>Footer Text</p>\n</footer>\n\t\n</body>\n</html>\n","x":842.4630737304688,"y":231.0908966064453,"wires":[["bb656cae.7826e"]]},{"id":"aab7498d.1179e","type":"subflow","name":"ActionAfter","info":"","in":[{"x":202.00001525878906,"y":166.00001525878906,"wires":[{"id":"14425ec3.aca4f1"}]}],"out":[{"x":727,"y":155.00001525878906,"wires":[{"id":"4b4beb9c.bc89d4","port":0},{"id":"14425ec3.aca4f1","port":0},{"id":"14425ec3.aca4f1","port":2}]}]},{"id":"4b4beb9c.bc89d4","type":"function","z":"aab7498d.1179e","name":"","func":"msg.validateData = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":558.829833984375,"y":287.46527099609375,"wires":[[]]},{"id":"14425ec3.aca4f1","type":"switch","z":"aab7498d.1179e","name":"","property":"isError","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","outputs":3,"x":372.449951171875,"y":171.8333282470703,"wires":[[],["4b4beb9c.bc89d4"],[]]},{"id":"904f0a99.415a1","type":"subflow","name":"model","info":"","in":[{"x":41,"y":190,"wires":[{"id":"17a41ca3.14ee1b"}]}],"out":[{"x":1617.0000457763672,"y":432,"wires":[{"id":"55811506.70a35c","port":0},{"id":"39b02a9c.355ffe","port":0},{"id":"3aa4b72.819c9c8","port":0},{"id":"c5307449.525a3","port":0},{"id":"7d2b64b9.0796fc","port":0}]}]},{"id":"17a41ca3.14ee1b","type":"switch","z":"904f0a99.415a1","name":"","property":"queryModule","propertyType":"msg","rules":[{"t":"eq","v":"issFUpi001","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":9,"x":319,"y":231,"wires":[["9ab3e8c0.a57268"],[],[],[],[],[],[],[],[]]},{"id":"9ab3e8c0.a57268","type":"switch","z":"904f0a99.415a1","name":"","property":"queryMethod","propertyType":"msg","rules":[{"t":"eq","v":"getMemberInfo","vt":"str"},{"t":"eq","v":"getMemberInfoForJoin","vt":"str"},{"t":"eq","v":"insertMemberInfo","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":617,"y":146,"wires":[["d313ec22.85d2d"],["f2e60c10.da0e"],["39b02a9c.355ffe"],[]]},{"id":"d1c0973d.bacd38","type":"comment","z":"904f0a99.415a1","name":"기능분기","info":"","x":331,"y":139,"wires":[]},{"id":"98f83d11.0c9aa","type":"comment","z":"904f0a99.415a1","name":"①회원정보취득","info":"","x":987,"y":29,"wires":[]},{"id":"6583b65c.05dbd","type":"comment","z":"904f0a99.415a1","name":"②회원등록","info":"","x":976.9999847412109,"y":263,"wires":[]},{"id":"d313ec22.85d2d","type":"function","z":"904f0a99.415a1","name":"getMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":991,"y":80,"wires":[["55811506.70a35c"]]},{"id":"39b02a9c.355ffe","type":"function","z":"904f0a99.415a1","name":"insertMemberInfo","func":"msg.payload = msg.queryParams;\nmsg.payload._id = msg.queryParams.email;\nreturn msg;","outputs":1,"noerr":0,"x":1004,"y":302,"wires":[["29a8ceb1.d619a2"]]},{"id":"55811506.70a35c","type":"cloudant in","z":"904f0a99.415a1","name":"","database":"","service":"","search":"_id_","design":"","index":"","x":1316.0000457763672,"y":83,"wires":[[]]},{"id":"29a8ceb1.d619a2","type":"cloudant out","z":"904f0a99.415a1","name":"","cloudant":"","database":"issueme","service":"issueme-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1321,"y":302,"wires":[]},{"id":"55702304.82cb44","type":"comment","z":"904f0a99.415a1","name":"③회원정보변경","info":"","x":995.8958129882812,"y":363.8888854980469,"wires":[]},{"id":"3aa4b72.819c9c8","type":"function","z":"904f0a99.415a1","name":"updateMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1001.8958129882812,"y":417.8888854980469,"wires":[["2d0bdafb.0c2846"]]},{"id":"2d0bdafb.0c2846","type":"cloudant out","z":"904f0a99.415a1","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1321.8958740234375,"y":383.8888854980469,"wires":[]},{"id":"70535b6b.79a3fc","type":"comment","z":"904f0a99.415a1","name":"④로그인이력등록","info":"","x":1001.8958129882812,"y":472.8888854980469,"wires":[]},{"id":"c5307449.525a3","type":"function","z":"904f0a99.415a1","name":"insertLoginHistory","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1004.8958587646484,"y":522.8888854980469,"wires":[["1d9de03e.57e708"]]},{"id":"1d9de03e.57e708","type":"cloudant out","z":"904f0a99.415a1","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1316.8959197998047,"y":471.8888854980469,"wires":[]},{"id":"7b1b2cb7.9eef54","type":"comment","z":"904f0a99.415a1","name":"회원관련","info":"","x":655.8957977294922,"y":59.888885498046875,"wires":[]},{"id":"3aa6e314.13adfc","type":"comment","z":"904f0a99.415a1","name":"NoSQLDB에 등록","info":"","x":1321.8958740234375,"y":27,"wires":[]},{"id":"f2e60c10.da0e","type":"function","z":"904f0a99.415a1","name":"getMemberInfoForJoin","func":"msg.payload = {  \"query\": 'email:\"'+msg.queryParams.email+'\" OR nickname:\"'+msg.queryParams.nickname+'\"'}\n\nreturn msg;","outputs":1,"noerr":0,"x":1024.8000183105469,"y":190.56666564941406,"wires":[["7d2b64b9.0796fc"]]},{"id":"873fc21b.dc951","type":"comment","z":"904f0a99.415a1","name":"②회원정보취득(회원가입체크용)","info":"","x":1038.7999877929688,"y":141.56666564941406,"wires":[]},{"id":"7d2b64b9.0796fc","type":"cloudant in","z":"904f0a99.415a1","name":"","cloudant":"","database":"issueme","service":"issueme-cloudantNoSQLDB","search":"_idx_","design":"index","index":"indexByEmailAndNickname","x":1297.8001098632812,"y":192.56666564941406,"wires":[[]]},{"id":"3bccc2fd.3c49ae","type":"subflow","name":"validation","info":"","in":[{"x":191,"y":71,"wires":[{"id":"34967f42.2cd868"}]}],"out":[{"x":1012,"y":496,"wires":[{"id":"9528f193.586d08","port":0}]}]},{"id":"dd566f6d.c4375","type":"switch","z":"3bccc2fd.3c49ae","name":"","property":"checkItme","propertyType":"msg","rules":[{"t":"eq","v":"email","vt":"str"},{"t":"eq","v":"password","vt":"str"},{"t":"eq","v":"nickname","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":633,"y":312,"wires":[["f3427e8.c3d16"],["ea71ec7c.67cbc8"],["830d7398.b094a"],["9528f193.586d08"]]},{"id":"f3427e8.c3d16","type":"function","z":"3bccc2fd.3c49ae","name":"email","func":"var email = msg.validateData.email;\n\n//필수체크\nif(email === null || email.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"아이디는 필수 입니다.\");\n    msg.payload.errLocation.push(\"email\");\n}else if(email.length >50 ){\n   msg.payload.errMsg.push(\"아이디는 50자 이내로 입력해주세요\");\n   msg.payload.errLocation.push(\"email\");\n}\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":961,"y":303,"wires":[["d82a8990.1e29a"]]},{"id":"ea71ec7c.67cbc8","type":"function","z":"3bccc2fd.3c49ae","name":"password","func":"var password = msg.validateData.password;\n\n//필수체크\nif(password === null || password.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"패스워드는 필수 입니다.\");\n    msg.payload.errLocation.push(\"password\");\n}else if(password.length >20 ){\n    msg.payload.errMsg.push(\"패스워드는 20자 이내로 입력해주세요\");\n    msg.payload.errLocation.push(\"password\");\n}\n\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":339,"wires":[["d82a8990.1e29a"]]},{"id":"d82a8990.1e29a","type":"function","z":"3bccc2fd.3c49ae","name":"looping","func":"if(msg.arrData[0] !== null || msg.arrData[0] !== undefined){ \n     msg.checkItme=msg.arrData[0];\n}\n\nif(msg.payload.errMsg === undefined ){\n    var errMsg = [];\n    msg.payload.errMsg = errMsg;\n}\nif(msg.payload.errLocation === undefined ){\n     var errLocation = [];\n    msg.payload.errLocation = errLocation;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":786,"y":74,"wires":[["dd566f6d.c4375"]]},{"id":"34967f42.2cd868","type":"function","z":"3bccc2fd.3c49ae","name":"prepare","func":"var data = msg.validateData;\nvar arrData = [];\nfor(var i in data){\n    arrData.push(i);\n}\nmsg.arrData = arrData;\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":72,"wires":[["d82a8990.1e29a"]]},{"id":"9528f193.586d08","type":"function","z":"3bccc2fd.3c49ae","name":"finish","func":"if(msg.arrData.length === 0 || msg.arrData === null){ \n    delete msg.arrData;\n}\n\nif(msg.payload.errMsg.length === 0 || msg.payload.errMsg === null ){\n     delete msg.payload.errMsg;\n}\n\nif(msg.payload.errLocation.length === 0 || msg.payload.errLocation === null){\n     delete msg.payload.errLocation;\n}\n\nif(msg.payload.errMsg === undefined && msg.payload.errLocation === undefined){\n    msg.isError=false;\n}else{\n    msg.isError=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":495,"wires":[[]]},{"id":"c4064c31.697e28","type":"comment","z":"3bccc2fd.3c49ae","name":"체크항목(체크항목이 늘어나면 여기에 추가)","info":"","x":1081,"y":265,"wires":[]},{"id":"6cfa5859.f1fa3","type":"comment","z":"3bccc2fd.3c49ae","name":"루프처리","info":"","x":777,"y":36,"wires":[]},{"id":"bf6fb0cd.f58e3","type":"comment","z":"3bccc2fd.3c49ae","name":"체크항목분기","info":"","x":640,"y":268,"wires":[]},{"id":"a6761786.2c5f2","type":"comment","z":"3bccc2fd.3c49ae","name":"유효성검사후 처리","info":"","x":753,"y":457,"wires":[]},{"id":"8fb14f29.84005","type":"comment","z":"3bccc2fd.3c49ae","name":"유효성검사전 처리","info":"","x":474,"y":36,"wires":[]},{"id":"830d7398.b094a","type":"function","z":"3bccc2fd.3c49ae","name":"nickname","func":"var nickname = msg.validateData.nickname;\n\n//필수체크\nif(nickname === null || nickname.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"닉네임는 필수 입니다.\");\n    msg.payload.errLocation.push(\"nickname\");\n}else if(nickname.length >20 ){\n    msg.payload.errMsg.push(\"닉네임은 30자 이내로 입력해주세요\");\n    msg.payload.errLocation.push(\"nickname\");\n}\n\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":983.566650390625,"y":374.566650390625,"wires":[["d82a8990.1e29a"]]},{"id":"cad8899.6225978","type":"subflow","name":"MainActions","info":"","in":[{"x":95,"y":164,"wires":[{"id":"22f9c2dc.010806"}]}],"out":[{"x":1843,"y":147.00001525878906,"wires":[{"id":"ed2a9c88.e4bc58","port":0},{"id":"f4dd040.4e7db8","port":1}]},{"x":2136,"y":252,"wires":[{"id":"52cc3f17.181a48","port":1},{"id":"9d7f7816.c5256","port":1},{"id":"ea5774e7.290d9","port":0}]},{"x":496,"y":426,"wires":[{"id":"22f9c2dc.010806","port":2}]},{"x":325,"y":30,"wires":[]}]},{"id":"22f9c2dc.010806","type":"switch","z":"cad8899.6225978","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"join","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":275.8368377685547,"y":178.15280151367188,"wires":[["53f00fb1.d24808"],["a51f8c45.701728"],[]]},{"id":"58e987c.8d3c2f8","type":"function","z":"cad8899.6225978","name":"","func":"var cryptoModule = context.global.cryptoModule;\nvar emailHash = cryptoModule.createHmac('sha256').update(msg.formData.email)\n                   .digest('hex');\nvar pwHash = cryptoModule.createHmac('sha256').update(msg.formData.password)\n                   .digest('hex');\n                   \nmsg.queryModule = \"issFUpi001\";\nmsg.queryMethod = \"getMemberInfo\";\nmsg.queryParams ={}\n\nreturn msg;","outputs":1,"noerr":0,"x":1176.8958435058594,"y":129.88888549804688,"wires":[["7af01a81.ad3394"]]},{"id":"879bd3f7.53e34","type":"subflow:3bccc2fd.3c49ae","z":"cad8899.6225978","name":"","x":829.8958587646484,"y":186.88888549804688,"wires":[["f4dd040.4e7db8"]]},{"id":"53f00fb1.d24808","type":"function","z":"cad8899.6225978","name":"","func":"var request = msg.payload;\n//TODO 나중에 정수로 바꿈\nvar formData = request.issVUpi001;\nmsg.validateData = formData;\n\nreturn msg;","outputs":1,"noerr":0,"x":642.8958587646484,"y":186.88888549804688,"wires":[["879bd3f7.53e34"]]},{"id":"c29b9bf4.fa81e","type":"comment","z":"cad8899.6225978","name":"파라메타취득","info":"","x":650.8958740234375,"y":144.88888549804688,"wires":[]},{"id":"a9c0b051.c81a68","type":"comment","z":"cad8899.6225978","name":"쿼리요청","info":"","x":1176.8958740234375,"y":67.88888549804688,"wires":[]},{"id":"fb0762cd.1ac14","type":"comment","z":"cad8899.6225978","name":"유효성검사","info":"","x":823.8958740234375,"y":142.88888549804688,"wires":[]},{"id":"7af01a81.ad3394","type":"subflow:904f0a99.415a1","z":"cad8899.6225978","x":1320.8958435058594,"y":127.88888549804688,"wires":[["ed2a9c88.e4bc58"]]},{"id":"ed2a9c88.e4bc58","type":"function","z":"cad8899.6225978","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1463.8958435058594,"y":128.88887786865234,"wires":[[]]},{"id":"b53aec04.9206b","type":"comment","z":"cad8899.6225978","name":"에러핸들링","info":"","x":980.8958740234375,"y":140.88888549804688,"wires":[]},{"id":"f4dd040.4e7db8","type":"switch","z":"cad8899.6225978","name":"","property":"isError","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":978.8958740234375,"y":185.88888549804688,"wires":[["58e987c.8d3c2f8"],[]]},{"id":"57f91d20.8c5834","type":"comment","z":"cad8899.6225978","name":"쿼리실행","info":"","x":1322.8958740234375,"y":65.88888549804688,"wires":[]},{"id":"e853d99c.aeee98","type":"comment","z":"cad8899.6225978","name":"파라메타취득","info":"","x":1469.8958740234375,"y":63.888885498046875,"wires":[]},{"id":"a3477df5.62c168","type":"comment","z":"cad8899.6225978","name":"★action = \"login\"","info":"","x":488.8957214355469,"y":125.88888549804688,"wires":[]},{"id":"a51f8c45.701728","type":"function","z":"cad8899.6225978","name":"","func":"var request = msg.payload;\n//TODO 나중에 정수로 바꿈\nvar formData = request.tomoVupi001;\nmsg.validateData = formData;\n\nreturn msg;","outputs":1,"noerr":0,"x":646.6666259765625,"y":263.6666564941406,"wires":[["1799c651.80632a"]]},{"id":"1799c651.80632a","type":"subflow:3bccc2fd.3c49ae","z":"cad8899.6225978","name":"","x":831.6666259765625,"y":263.6666564941406,"wires":[["52cc3f17.181a48"]]},{"id":"52cc3f17.181a48","type":"switch","z":"cad8899.6225978","name":"","property":"isError","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":986.6665954589844,"y":262.6666488647461,"wires":[["339bee82.ca94da"],[]]},{"id":"339bee82.ca94da","type":"function","z":"cad8899.6225978","name":"","func":"/*var cryptoModule = context.global.cryptoModule;\nvar emailHash = cryptoModule.createHmac('sha256').update(msg.formData.email)\n                   .digest('hex');\nvar emailHash = cryptoModule.createHmac('sha256').update(msg.formData.email)\n                   .digest('hex');\nvar pwHash = cryptoModule.createHmac('sha256').update(msg.formData.password)\n                   .digest('hex');\n       */        \n       \n       \nmsg.queryModule = \"issFUpi001\";\nmsg.queryMethod = \"getMemberInfoForJoin\";\nmsg.queryParams ={\n    \"nickname\" :   msg.validateData.nickname,\n    \"email\" :  msg.validateData.email\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1173.6665954589844,"y":227.66663360595703,"wires":[["7c365fd8.15df4"]]},{"id":"7c365fd8.15df4","type":"subflow:904f0a99.415a1","z":"cad8899.6225978","x":1317.6666259765625,"y":225.66664123535156,"wires":[["8e47428.f901cc"]]},{"id":"8e47428.f901cc","type":"function","z":"cad8899.6225978","name":"","func":"var result = msg.payload[0];\nif(result != null){ \n    msg.payload = {};\n    var errMsg = [];\n    var errLocation = [];\n    msg.payload.errMsg = errMsg;\n      msg.payload.errLocation = errLocation;\n if(result.email === msg.queryParams.email){\n        msg.payload.errMsg.push(\"이미 등록된 이메일입니다.\");\n        msg.payload.errLocation.push(\"email\");\n    }\n if(result.nickname === msg.queryParams.nickname){\n        msg.payload.errMsg.push(\"이미 등록된 닉네임입니다.\");\n        msg.payload.errLocation.push(\"nickname\");\n    }\n}\n\nif(msg.payload.errMsg === undefined && msg.payload.errLocation === undefined){\n    msg.isError=false;\n}else{\n    msg.isError=true;\n}\n\nif(!msg.isError){\n    msg.queryModule = \"issFUpi001\";\n    msg.queryMethod = \"insertMemberInfo\";\n    msg.queryParams.password = msg.validateData.password;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1462.6666259765625,"y":228.66664123535156,"wires":[["9d7f7816.c5256"]]},{"id":"9f7ac7cc.ca3808","type":"comment","z":"cad8899.6225978","name":"★action = \"join\"","info":"","x":499.6666564941406,"y":213.66665649414062,"wires":[]},{"id":"2be28aa4.f587e6","type":"subflow:904f0a99.415a1","z":"cad8899.6225978","x":1809.4666748046875,"y":199.56666564941406,"wires":[["ea5774e7.290d9"]]},{"id":"9d7f7816.c5256","type":"switch","z":"cad8899.6225978","name":"","property":"isError","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":1600.466552734375,"y":224.56666564941406,"wires":[["2be28aa4.f587e6"],[]]},{"id":"ea5774e7.290d9","type":"function","z":"cad8899.6225978","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1975.9666748046875,"y":199.56666564941406,"wires":[[]]},{"id":"2dfbdc45.f6d364","type":"subflow","name":"ActionBefore","info":"","in":[{"x":87,"y":170,"wires":[{"id":"b6dbf754.d576d"}]}],"out":[{"x":1111.9999694824219,"y":614.0000534057617,"wires":[{"id":"415d23ab.accb5c","port":0},{"id":"8fa7e40.fdde298","port":0},{"id":"b6dbf754.d576d","port":3},{"id":"bc0475fb.7f8fc","port":0}]}]},{"id":"415d23ab.accb5c","type":"function","z":"2dfbdc45.f6d364","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1126.8367614746094,"y":165.69445037841797,"wires":[[]]},{"id":"b6dbf754.d576d","type":"switch","z":"2dfbdc45.f6d364","name":"switch","property":"ext_auth","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","outputs":4,"x":348.8402099609375,"y":191.49654388427734,"wires":[["415d23ab.accb5c"],["8fa7e40.fdde298"],["bc0475fb.7f8fc"],[]]},{"id":"8eb3df7d.b88778","type":"comment","z":"2dfbdc45.f6d364","name":"인증패턴①","info":"","x":1136.4999694824219,"y":128.00000762939453,"wires":[]},{"id":"8fa7e40.fdde298","type":"function","z":"2dfbdc45.f6d364","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1130.6665954589844,"y":248.66661834716797,"wires":[[]]},{"id":"bc0475fb.7f8fc","type":"function","z":"2dfbdc45.f6d364","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1129.6665954589844,"y":338.66661834716797,"wires":[[]]},{"id":"12339aa6.0eea2d","type":"comment","z":"2dfbdc45.f6d364","name":"인증패턴②","info":"","x":1145.6665954589844,"y":205.6666488647461,"wires":[]},{"id":"54672322.2b8c94","type":"comment","z":"2dfbdc45.f6d364","name":"인증패턴③","info":"","x":1146.6665954589844,"y":299.6666488647461,"wires":[]},{"id":"dacb9013.ab3de8","type":"subflow","name":"Routing","info":"","in":[],"out":[{"x":776.9999847412109,"y":283,"wires":[{"id":"9cf20778.af5ad8","port":0},{"id":"4007e8b7.964d8","port":0},{"id":"d0355933.96a6f","port":0},{"id":"e4ae839c.19a898","port":0}]}]},{"id":"99df0f2b.421bb8","type":"http in","z":"dacb9013.ab3de8","name":"","url":"/issueme","method":"get","swaggerDoc":"","x":100.89582824707031,"y":125.88888549804688,"wires":[["9cf20778.af5ad8"]]},{"id":"d3bdc09b.db9f6","type":"http in","z":"dacb9013.ab3de8","name":"","url":"/memberInput","method":"get","swaggerDoc":"","x":109.89579772949219,"y":249.88888549804688,"wires":[["4007e8b7.964d8"]]},{"id":"9cf20778.af5ad8","type":"function","z":"dacb9013.ab3de8","name":"SetRoutingParams","func":"msg.action =\"issueme\";\n\nreturn msg;","outputs":1,"noerr":0,"x":383.83331298828125,"y":129.82640075683594,"wires":[[]]},{"id":"4007e8b7.964d8","type":"function","z":"dacb9013.ab3de8","name":"SetRoutingParams","func":"msg.action =\"memberInput\";\n\nreturn msg;","outputs":1,"noerr":0,"x":399.89573669433594,"y":255.88888549804688,"wires":[[]]},{"id":"66c7fe97.32cb5","type":"http in","z":"dacb9013.ab3de8","name":"","url":"/join","method":"post","swaggerDoc":"","x":99.89581298828125,"y":519.888916015625,"wires":[["e4ae839c.19a898"]]},{"id":"831edc98.eae69","type":"http in","z":"dacb9013.ab3de8","name":"","url":"/login","method":"post","swaggerDoc":"","x":101.89581298828125,"y":382.8888854980469,"wires":[["d0355933.96a6f"]]},{"id":"d0355933.96a6f","type":"function","z":"dacb9013.ab3de8","name":"SetRoutingParams","func":"msg.action =\"login\";\nreturn msg;","outputs":1,"noerr":0,"x":396.895751953125,"y":384.8888854980469,"wires":[[]]},{"id":"e4ae839c.19a898","type":"function","z":"dacb9013.ab3de8","name":"SetRoutingParams","func":"msg.action =\"join\";\nreturn msg;","outputs":1,"noerr":0,"x":402.8957824707031,"y":521.8888854980469,"wires":[[]]},{"id":"bdc9ff48.357b18","type":"comment","z":"dacb9013.ab3de8","name":"{action = \"issueme\" }","info":"","x":398.8298797607422,"y":84.81944274902344,"wires":[]},{"id":"a40c8efb.c1584","type":"comment","z":"dacb9013.ab3de8","name":"{action = \"memberInput\" }","info":"","x":405.8957977294922,"y":217.88888549804688,"wires":[]},{"id":"8b3971f7.23e72","type":"comment","z":"dacb9013.ab3de8","name":"{action = \"login\" }","info":"","x":384.8957977294922,"y":341.8888854980469,"wires":[]},{"id":"663c6dd4.556b24","type":"comment","z":"dacb9013.ab3de8","name":"{action = \"join\" }","info":"","x":386.8957977294922,"y":479.8888854980469,"wires":[]},{"id":"df822b58.c1101","type":"comment","z":"dacb9013.ab3de8","name":"로그인(화면)","info":"","x":83.89582824707031,"y":80.88888549804688,"wires":[]},{"id":"91b0cda4.94c5a8","type":"comment","z":"dacb9013.ab3de8","name":"회원가입(화면)","info":"","x":103,"y":214.88888549804688,"wires":[]},{"id":"e38fd2ed.570438","type":"comment","z":"dacb9013.ab3de8","name":"로그인(AJAX)","info":"","x":93.89582824707031,"y":339.8888854980469,"wires":[]},{"id":"c7dd7ba2.17dae8","type":"comment","z":"dacb9013.ab3de8","name":"회원가입(AJAX)","info":"","x":113.89582824707031,"y":475.8888854980469,"wires":[]},{"id":"7c63c5d9.b0db8c","type":"subflow:dacb9013.ab3de8","z":"f6a762ef.a6e4c8","x":162.566650390625,"y":208.3784637451172,"wires":[["828a678a.ebb0a"]]},{"id":"828a678a.ebb0a","type":"subflow:2dfbdc45.f6d364","z":"f6a762ef.a6e4c8","x":367.56317138671875,"y":210.1666717529297,"wires":[["244d81a1.e482d6"]]},{"id":"244d81a1.e482d6","type":"subflow:cad8899.6225978","z":"f6a762ef.a6e4c8","x":590.5596923828125,"y":207.7951202392578,"wires":[["9a6aec56.669c58"],["9a6aec56.669c58"],["9a6aec56.669c58"],["9a6aec56.669c58"]]},{"id":"9a6aec56.669c58","type":"subflow:aab7498d.1179e","z":"f6a762ef.a6e4c8","x":830.5736083984375,"y":217.57981872558594,"wires":[["915d0797.685ae8","a0a0fa51.8721d8"]]},{"id":"915d0797.685ae8","type":"subflow:d843fb90.ab146","z":"f6a762ef.a6e4c8","x":1129.5703125,"y":278.99993896484375,"wires":[]},{"id":"a0a0fa51.8721d8","type":"debug","z":"f6a762ef.a6e4c8","name":"","active":true,"console":"false","complete":"true","x":958.566650390625,"y":73.56666564941406,"wires":[]}]
