src/nodered/plugins/actions/baseAction.json
[{"id":"aa60eb02.239d88","type":"subflow","name":"Templates","info":"","in":[{"x":106,"y":231,"wires":[{"id":"71227759.7da2a8"}]}],"out":[]},{"id":"71227759.7da2a8","type":"switch","z":"aa60eb02.239d88","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"tomo","vt":"str"},{"t":"eq","v":"memberInput","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":310.9999237060547,"y":254.83334350585938,"wires":[["1b6145ca.15f6ba"],["3a628d84.76f7c2"],["169af6eb.3de259"]]},{"id":"7a8ccd8a.d37df4","type":"http response","z":"aa60eb02.239d88","name":"","x":1179.8960418701172,"y":750.8889465332031,"wires":[]},{"id":"5a34b2f6.29568c","type":"comment","z":"aa60eb02.239d88","name":"★action = \"issueme\"","info":"","x":838.8957366943359,"y":182.88888549804688,"wires":[]},{"id":"169af6eb.3de259","type":"http response","z":"aa60eb02.239d88","name":"","x":1356.8959197998047,"y":595.888916015625,"wires":[]},{"id":"3a628d84.76f7c2","type":"template","z":"aa60eb02.239d88","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js\"></script>\n        <script>\n        $(document).ready(function(){\n            $(\".btn_ajax\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $.ajax({\n                        url: form.attr('action'),\n                        type: form.attr('method'),\n                        data: form.serialize(),\n                        timeout: 10000,\n                        success:ajaxSuccess\n                    })\n                });\n             $(\".btn_submit\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $(form).submit();\n                   \n                });  \n            function ajaxSuccess(result){\n                //정상일때 메세지 \n                //正常時のメッセージ\n                var msg = result.msg;\n                //에러일때 메세지 \n                //エラー時のメッセージ\n                var errMsg = result.errMsg;\n                $(errMsg).each(function(index){\n                        $(\".msgAreaUl\").append(\"<li>\"+this+\"</li>\");\n                    });\n                 //에러난 태그\n                //エラー箇所\n                var errLocation = result.errLocation;\n                    $(errLocation).each(function(index){\n                        var input = $(\"#\"+this);\n                        if($(input).attr(\"type\") === \"text\" || $(input).attr(\"type\") === \"password\" ){\n                            $(input).css({\n                                \"borderColor\":\"red\"\n                            });\n                        }\n                    });\n                }\n                \n                $(\".ime_disabled\").on(\"keydown\", function(e){\n                if(e.which > 20){\n                var c = String.fromCharCode(e.which);\n\t\t         if(c.match(/[^A-Za-z0-9]+/)){\n\t\t              return false;\n\t\t          }\n                }\n                });\n        });\n        </script>\n    </head>\n    <body>\n        <div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n        <h1>회원가입</h1>\n         <form action = \"/joinVerify\" method =\"post\" id=\"joinVerify\">\n            <table>\n                <tr>\n                    <td>성</td>\n                    <td><input type=\"text\" name =\"tomoVupi002[family_name]\" id = \"family_name\"  /></td>\n                 </tr> \n                  <tr>\n                    <td>이름</td>\n                    <td><input type=\"text\" name =\"tomoVupi002[first_name]\" id = \"first_name\" /></td>\n                </tr> \n                <tr>\n                    <td>이메일</td>\n                    <td> <input type=\"email\" name =\"tomoVupi002[email]\" id =\"email\" class=\"text ime_disabled\"></td>\n                </tr>\n                <tr>\n                    <td>이메일확인</td>\n                    <td><input type=\"email\" name =\"tomoVupi002[email_verify]\" id = \"email_verify\" /></td>\n                </tr>   \n                <tr>\n                    <td>패스워드</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr> \n                 <tr>\n                    <td>생일</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr> \n                 <tr>\n                    <td>성별</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr>  \n                <tr>\n                    <td colspan =\"2\"><button type=\"button\" class =\"btn_submit\" action = \"joinVerify\" value = \"회원가입\" >회원가입</button></td>\n                </tr>   \n            </table>\n             </form>\n    </body>\n</html>","x":834.8957977294922,"y":342.8888854980469,"wires":[["169af6eb.3de259"]]},{"id":"975f37df.c84e08","type":"comment","z":"aa60eb02.239d88","name":"★action = \"memberInput\"","info":"","x":860.8958129882812,"y":298.8888854980469,"wires":[]},{"id":"a03baa18.66a538","type":"template","z":"aa60eb02.239d88","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js\"></script>\n        <script>\n        $(document).ready(function(){\n            $(\".btn_ajax\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $.ajax({\n                        url: form.attr('action'),\n                        type: form.attr('method'),\n                        data: form.serialize(),\n                        timeout: 10000,\n                        success:ajaxSuccess\n                    })\n                });\n                 $(\".btn_submit\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $(form).submit();\n                   \n                });  \n            function ajaxSuccess(result){\n                //정상일때 메세지 \n                //正常時のメッセージ\n                var msg = result.msg;\n                //에러일때 메세지 \n                //エラー時のメッセージ\n                var errMsg = result.errMsg;\n                $(errMsg).each(function(index){\n                        $(\".msgAreaUl\").append(\"<li>\"+this+\"</li>\");\n                    });\n                 //에러난 태그\n                //エラー箇所\n                var errLocation = result.errLocation;\n                    $(errLocation).each(function(index){\n                        var input = $(\"#\"+this);\n                        if($(input).attr(\"type\") === \"text\" || $(input).attr(\"type\") === \"password\" ){\n                            $(input).css({\n                                \"borderColor\":\"red\"\n                            });\n                        }\n                    });\n                }\n                \n                $(\".ime_disabled\").on(\"keydown\", function(e){\n                if(e.which > 20){\n                var c = String.fromCharCode(e.which);\n\t\t         if(c.match(/[^A-Za-z0-9]+/)){\n\t\t              return false;\n\t\t          }\n                }\n                });\n        });\n        </script>\n    </head>\n    <body>\n        <div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n         <form action = \"/login\" method =\"post\" id=\"login\">\n            <table>\n                <tr>\n                    <td>이메일</td>\n                    <td> <input type=\"text\" name =\"tomoVupi001[email]\" id =\"email\" class=\"text ime_disabled\"></td>\n                </tr>\n                <tr>\n                    <td>패스워드</td>\n                    <td><input type=\"password\" name =\"tomoVupi001[password]\" id = \"password\" /></td>\n                </tr>   \n                <tr>\n                    <td colspan =\"2\"><button type=\"button\" class =\"btn_ajax\" action = \"login\" value = \"로그인\" >로그인</button></td>\n                </tr>   \n            </table>\n             </form>\n        <form action =\"/memberInput\" method =\"get\" id =\"memberInput\" >\n            <button type=\"button\" class =\"btn_submit\" action = \"memberInput\" value = \"가입하기\" >가입하기</button>\n        </form>\n    </body>\n</html>","x":1166.4630126953125,"y":82.09091186523438,"wires":[[]]},{"id":"1b6145ca.15f6ba","type":"template","z":"aa60eb02.239d88","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>로그인페이지</title>\n<!-- Meta -->\n\t<meta charset=\"utf-8\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t<meta name=\"description\" content=\"\">\n\t<meta name=\"author\" content=\"\">\n\n\n\t<!-- Web Fonts -->\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=cyrillic,latin\">\n\n\t<!-- CSS Global Compulsory -->\n\t<link rel=\"stylesheet\" href=\"/plugins/bootstrap/css/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/style.css\">\n\t\n\n\t<!-- CSS Implementing Plugins -->\n\t<link rel=\"stylesheet\" href=\"/plugins/animate.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/line-icons/line-icons.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/font-awesome/css/font-awesome.min.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/brand-buttons/brand-buttons.css\">\n\n\t<link rel=\"stylesheet\" href=\"/plugins/scrollbar/css/jquery.mCustomScrollbar.css\">\n\t\n\t<!-- CSS Page Style -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/pages/page_log_reg_v4.css\">\n\n\t<!-- CSS Theme -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-colors/blue.css\">\n\t\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-colors/default.css\" id=\"style_color\">\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-skins/dark.css\">\n\t\n\t<!-- CSS Customization -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/custom.css\">\n\t\n\n\t<!-- CSS Header -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/headers/header-v5.css\">\n\t<!-- <link rel=\"stylesheet\" href=\"${pageContext.request.contextPath}/assets/css/footers/footer-v1.css\"> -->\n\n\t<!-- CSS  Footer -->\n\t<!-- <link rel=\"stylesheet\" href=\"${pageContext.request.contextPath}/assets/css/headers/header-default.css\"> -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/footers/footer-v7.css\">\n\t\n\t\n</head>\n\n<body class=\"header-fixed\">\n<!--=== Header ===-->\n\t<jsp:include page=\"../include/top.jsp\"></jsp:include>\n<!--=== End Header ===-->\n\t\n\t\n<!--=== Content Part ===-->\n\t<div class=\"container-fluid\">\n\t\t<div class=\"row equal-height-columns\">\n\t\t\t<div class=\"col-md-6 col-sm-6 hidden-xs image-block equal-height-column\"></div>\n\t\t\t<div class=\"col-md-6 col-sm-6 form-block equal-height-column\">\n\t\t\t\n\t\t\t\n\t\t\t\t<a href=\"index.html\">\n\t\t\t\t\t<img src=\"/img/logo1-default.png\" alt=\"\">\n\t\t\t\t</a>\n\t\t\t\t<div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n\t\t\t\t<h2 class=\"margin-bottom-30\">Login To Your Account</h2>\n\t\t\t <form action = \"/login\" method =\"post\" id=\"login\">\n\t\t\t\t\t<div class=\"login-block\">\n\t\t\t\t\t\t<div class=\"input-group margin-bottom-20\">\n\t\t\t\t\t\t\t<span class=\"input-group-addon rounded-left input-border-email\"><i class=\"icon-user color-red\"></i></span>\n\t\t\t\t\t\t\t<input type=\"email\" class=\"form-control rounded-right input-border-email\" placeholder=\"이메일 입력하세요\" name=\"tomoVupi001[email]\" id=\"email\" >\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"input-group margin-bottom-20\">\n\t\t\t\t\t\t\t<span class=\"input-group-addon rounded-left input-border-password\"><i class=\"icon-lock color-red\"></i></span>\n\t\t\t\t\t\t\t<input type=\"password\" class=\"form-control rounded-right input-border-password\" placeholder=\"Password를 입력하세요\" name=\"tomoVupi001[password]\" id=\"password\" >\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"checkbox\">\n\t\t\t\t\t\t\t<ul class=\"list-inline\">\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<label>\n\t\t\t\t\t\t\t\t\t\t<input type=\"checkbox\"> ID기억하기\n\t\t\t\t\t\t\t\t\t</label>\n\t\t\t\t\t\t\t\t</li>\n\n\t\t\t\t\t\t\t\t<li class=\"pull-right\">\n\t\t\t\t\t\t\t\t\t<a href=\"#\">비밀번호를 잊으셨나요?</a>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"row margin-bottom-70\">\n\t\t\t\t\t\t\t<div class=\"col-md-12\">\n\t\t\t\t\t\t\t    <button type=\"button\" class =\"btn-u btn-u-red btn-block rounded btn_ajax\" action = \"login\" >LOGIN</button>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"social-login text-center\">\n\t\t\t\t\t\t\t<div class=\"or rounded-x\">Or</div>\n\t\t\t\t\t\t\t<ul class=\"list-inline margin-bottom-20\">\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<button class=\"btn rounded btn-lg btn-facebook\">\n\t\t\t\t\t\t\t\t\t\t<i class=\"fa fa-facebook\"></i> 페이스북으로 로그인\n\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<button class=\"btn rounded btn-lg btn-twitter\">\n\t\t\t\t\t\t\t\t\t\t<i class=\"fa fa-twitter\"></i> 트위터로 로그인\n\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t\t<p>아직 회원이 아니신가요? <a href=\"page_registration2.html\">회원 가입</a></p>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</form>\n\t\t\t</div>\n\t\t</div>\n\t</div><!--/container-->\n\t<!--=== End Content Part ===-->\n\n\n\t<!-- Footer Section -->\n\t<jsp:include page=\"../include/bottom.jsp\"></jsp:include>\n\t<!-- End Footer Section -->\n\n\n\t<!-- JS Global Compulsory -->\n\t<script type=\"text/javascript\" src=\"/plugins/jquery/jquery.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/jquery/jquery-migrate.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/bootstrap/js/bootstrap.min.js\"></script>\n\n\t<!-- JS Implementing Plugins -->\n\t<script type=\"text/javascript\" src=\"/plugins/back-to-top.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/backstretch/jquery.backstretch.min.js\"></script>\n\n\t<script type=\"text/javascript\" src=\"/plugins/smoothScroll.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/jquery.parallax.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js\"></script>\n\t\n\t\n\t<!-- JS Customization -->\n\t<script type=\"text/javascript\" src=\"/js/custom.js\"></script>\n\n\t<!-- JS Page Level -->\n\t<script type=\"text/javascript\" src=\"/js/app.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/forms/login.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/forms/contact.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/plugins/style-switcher.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/tomo/tomoBaseScript.js\"></script>\n\t\n\n\n\n\t\n\t\n\t<script>\n\t\tjQuery(document).ready(function() {\n\t\t\tApp.init();\n\t\t\tLoginForm.initLoginForm();\n\t\t\tContactForm.initContactForm();\n\t\t\tStyleSwitcher.initStyleSwitcher();\n\t\t\t\n\t\t});\n\t\t\n\t</script>\n\t<script>\n\t\t$(\".image-block\").backstretch([\n\t\t\t\"/img/login_back1.jpg\",\n\t\t\t\"/img/login_back1.jpg\",\n\t\t\t], {\n\t\t\t\tfade: 1000,\n\t\t\t\tduration: 7000\n\t\t\t});\n\t</script>\n\t\n\t\n<!--[if lt IE 9]>\n\t<script src=\"assets/plugins/respond.js\"></script>\n\t<script src=\"assets/plugins/html5shiv.js\"></script>\n\t<script src=\"assets/plugins/placeholder-IE-fixes.js\"></script>\n\t<![endif]-->\n</body>\n</html>","x":840.4630813598633,"y":229.09091186523438,"wires":[["169af6eb.3de259"]]},{"id":"10e3a0ee.fc33af","type":"subflow","name":"ActionAfter","info":"","in":[{"x":195,"y":195,"wires":[{"id":"49d99a1d.1bbdd4"}]}],"out":[{"x":718.9999847412109,"y":191,"wires":[{"id":"49d99a1d.1bbdd4","port":0}]}]},{"id":"49d99a1d.1bbdd4","type":"function","z":"10e3a0ee.fc33af","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":460.82981872558594,"y":194.46530151367188,"wires":[[]]},{"id":"f1082a7.b4258d8","type":"subflow","name":"model","info":"","in":[{"x":41,"y":190,"wires":[{"id":"540d0050.a89e8"}]}],"out":[{"x":1615.0000457763672,"y":328,"wires":[{"id":"7ae4ab8.915c554","port":0},{"id":"3af7d87d.c41008","port":0},{"id":"2e1a6968.926d06","port":0},{"id":"5a296959.d18ff8","port":0}]}]},{"id":"540d0050.a89e8","type":"switch","z":"f1082a7.b4258d8","name":"","property":"queryModule","propertyType":"msg","rules":[{"t":"eq","v":"issFUpi001","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":9,"x":319,"y":231,"wires":[["1d1737a8.182c38"],[],[],[],[],[],[],[],[]]},{"id":"1d1737a8.182c38","type":"switch","z":"f1082a7.b4258d8","name":"","property":"queryMethod","propertyType":"msg","rules":[{"t":"eq","v":"getMemberInfo","vt":"str"}],"checkall":"true","outputs":1,"x":643,"y":112,"wires":[["a6fc16fb.643ee8","3af7d87d.c41008","2e1a6968.926d06"]]},{"id":"df329db6.eae9","type":"comment","z":"f1082a7.b4258d8","name":"기능분기","info":"","x":331,"y":139,"wires":[]},{"id":"a4708c4a.2d83b","type":"comment","z":"f1082a7.b4258d8","name":"①회원정보취득","info":"","x":987,"y":29,"wires":[]},{"id":"23724732.3e49c8","type":"comment","z":"f1082a7.b4258d8","name":"②회원등록","info":"","x":974.9999847412109,"y":159,"wires":[]},{"id":"a6fc16fb.643ee8","type":"function","z":"f1082a7.b4258d8","name":"getMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":991,"y":80,"wires":[["7ae4ab8.915c554"]]},{"id":"3af7d87d.c41008","type":"function","z":"f1082a7.b4258d8","name":"insertMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1002,"y":198,"wires":[["a816be7d.6f20b"]]},{"id":"7ae4ab8.915c554","type":"cloudant in","z":"f1082a7.b4258d8","name":"","database":"","service":"","search":"_id_","design":"","index":"","x":1316.0000457763672,"y":83,"wires":[[]]},{"id":"a816be7d.6f20b","type":"cloudant out","z":"f1082a7.b4258d8","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1321.0000457763672,"y":198,"wires":[]},{"id":"1a26d0c0.f345ef","type":"comment","z":"f1082a7.b4258d8","name":"③회원정보변경","info":"","x":993.8958129882812,"y":259.8888854980469,"wires":[]},{"id":"2e1a6968.926d06","type":"function","z":"f1082a7.b4258d8","name":"updateMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":999.8958129882812,"y":313.8888854980469,"wires":[["77e6507a.f0669"]]},{"id":"77e6507a.f0669","type":"cloudant out","z":"f1082a7.b4258d8","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1319.8958740234375,"y":279.8888854980469,"wires":[]},{"id":"9aa2f211.d9964","type":"comment","z":"f1082a7.b4258d8","name":"④로그인이력등록","info":"","x":999.8958129882812,"y":368.8888854980469,"wires":[]},{"id":"5a296959.d18ff8","type":"function","z":"f1082a7.b4258d8","name":"insertLoginHistory","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1002.8958587646484,"y":418.8888854980469,"wires":[["a5e33532.eac258"]]},{"id":"a5e33532.eac258","type":"cloudant out","z":"f1082a7.b4258d8","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1314.8959197998047,"y":367.8888854980469,"wires":[]},{"id":"b8ce04b1.f03058","type":"comment","z":"f1082a7.b4258d8","name":"회원관련","info":"","x":655.8957977294922,"y":59.888885498046875,"wires":[]},{"id":"7f3f95f1.2c680c","type":"comment","z":"f1082a7.b4258d8","name":"NoSQLDB에 등록","info":"","x":1321.8958740234375,"y":27,"wires":[]},{"id":"bd223029.8c183","type":"subflow","name":"validation","info":"","in":[{"x":191,"y":71,"wires":[{"id":"50e11cde.c6cc84"}]}],"out":[{"x":1012,"y":496,"wires":[{"id":"ab983248.aaa22","port":0}]}]},{"id":"6723a818.a9eea8","type":"switch","z":"bd223029.8c183","name":"","property":"checkItme","propertyType":"msg","rules":[{"t":"eq","v":"email","vt":"str"},{"t":"eq","v":"password","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":633,"y":312,"wires":[["1aee69d7.7e3e86"],["afb5b737.1c3c68"],["ab983248.aaa22"]]},{"id":"1aee69d7.7e3e86","type":"function","z":"bd223029.8c183","name":"email","func":"var email = msg.validateData.email;\n\n//필수체크\nif(email === null || email.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"아이디는 필수 입니다.\");\n    msg.payload.errLocation.push(\"email\");\n}else if(email.length >50 ){\n   msg.payload.errMsg.push(\"아이디는 50자 이내로 입력해주세요\");\n   msg.payload.errLocation.push(\"email\");\n}\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":961,"y":303,"wires":[["68db257d.be9efc"]]},{"id":"afb5b737.1c3c68","type":"function","z":"bd223029.8c183","name":"password","func":"var password = msg.validateData.password;\n\n//필수체크\nif(password === null || password.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"패스워드는 필수 입니다.\");\n    msg.payload.errLocation.push(\"password\");\n}else if(password.length >20 ){\n    msg.payload.errMsg.push(\"패스워드는 20자 이내로 입력해주세요\");\n    msg.payload.errLocation.push(\"password\");\n}\n\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":339,"wires":[["68db257d.be9efc"]]},{"id":"68db257d.be9efc","type":"function","z":"bd223029.8c183","name":"looping","func":"if(msg.arrData[0] !== null || msg.arrData[0] !== undefined){ \n     msg.checkItme=msg.arrData[0];\n}\n\nif(msg.payload.errMsg === undefined ){\n    var errMsg = [];\n    msg.payload.errMsg = errMsg;\n}\nif(msg.payload.errLocation === undefined ){\n     var errLocation = [];\n    msg.payload.errLocation = errLocation;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":786,"y":74,"wires":[["6723a818.a9eea8"]]},{"id":"50e11cde.c6cc84","type":"function","z":"bd223029.8c183","name":"prepare","func":"var data = msg.validateData;\nvar arrData = [];\nfor(var i in data){\n    arrData.push(i);\n}\nmsg.arrData = arrData;\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":72,"wires":[["68db257d.be9efc"]]},{"id":"ab983248.aaa22","type":"function","z":"bd223029.8c183","name":"finish","func":"if(msg.arrData.length === 0 || msg.arrData === null){ \n    delete msg.arrData;\n}\n\nif(msg.payload.errMsg.length === 0 || msg.payload.errMsg === null ){\n     delete msg.payload.errMsg;\n}\n\nif(msg.payload.errLocation.length === 0 || msg.payload.errLocation === null){\n     delete msg.payload.errLocation;\n}\nif(msg.payload.errMsg.length >0 || msg.payload.errLocation.length >0){\n    msg.isError=true;\n}else{\n    msg.isError=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":495,"wires":[[]]},{"id":"ee773f96.bc349","type":"comment","z":"bd223029.8c183","name":"체크항목(체크항목이 늘어나면 여기에 추가)","info":"","x":1081,"y":265,"wires":[]},{"id":"67a8f760.173158","type":"comment","z":"bd223029.8c183","name":"루프처리","info":"","x":777,"y":36,"wires":[]},{"id":"34af0652.2c910a","type":"comment","z":"bd223029.8c183","name":"체크항목분기","info":"","x":640,"y":268,"wires":[]},{"id":"c22f9f3a.b43c5","type":"comment","z":"bd223029.8c183","name":"유효성검사후 처리","info":"","x":753,"y":457,"wires":[]},{"id":"eb183017.8a683","type":"comment","z":"bd223029.8c183","name":"유효성검사전 처리","info":"","x":474,"y":36,"wires":[]},{"id":"f34524da.289148","type":"subflow","name":"MainActions","info":"","in":[{"x":95,"y":164,"wires":[{"id":"be77a109.2f44b"}]}],"out":[{"x":1850.0000915527344,"y":838.0000839233398,"wires":[{"id":"a834e98a.ef0118","port":0},{"id":"6c22d306.537cbc","port":1},{"id":"be77a109.2f44b","port":2},{"id":"f73db46f.f1eb68","port":0},{"id":"a5fe279a.7fcd18","port":1}]}]},{"id":"be77a109.2f44b","type":"switch","z":"f34524da.289148","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"join","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":275.8368377685547,"y":178.15280151367188,"wires":[["610ead62.b78114"],["72575fb5.1acea"],[]]},{"id":"ca5a7344.5fdec","type":"function","z":"f34524da.289148","name":"","func":"var cryptoModule = context.global.cryptoModule;\nvar emailHash = cryptoModule.createHmac('sha256').update(msg.formData.email)\n                   .digest('hex');\nvar pwHash = cryptoModule.createHmac('sha256').update(msg.formData.password)\n                   .digest('hex');\n                   \nmsg.queryModule = \"issFUpi001\";\nmsg.queryMethod = \"getMemberInfo\";\nmsg.queryParams ={}\n\nreturn msg;","outputs":1,"noerr":0,"x":1176.8958435058594,"y":129.88888549804688,"wires":[["c40f2f2e.89318"]]},{"id":"8cd24354.7cf75","type":"subflow:bd223029.8c183","z":"f34524da.289148","name":"","x":829.8958587646484,"y":186.88888549804688,"wires":[["6c22d306.537cbc"]]},{"id":"610ead62.b78114","type":"function","z":"f34524da.289148","name":"","func":"var request = msg.payload;\n//TODO 나중에 정수로 바꿈\nvar formData = request.issVUpi001;\nmsg.validateData = formData;\n\nreturn msg;","outputs":1,"noerr":0,"x":642.8958587646484,"y":186.88888549804688,"wires":[["8cd24354.7cf75"]]},{"id":"e8521925.9c2638","type":"comment","z":"f34524da.289148","name":"파라메타취득","info":"","x":650.8958740234375,"y":144.88888549804688,"wires":[]},{"id":"b2c610a0.2e6f2","type":"comment","z":"f34524da.289148","name":"쿼리요청","info":"","x":1176.8958740234375,"y":67.88888549804688,"wires":[]},{"id":"247deded.fd7ff2","type":"comment","z":"f34524da.289148","name":"유효성검사","info":"","x":823.8958740234375,"y":142.88888549804688,"wires":[]},{"id":"c40f2f2e.89318","type":"subflow:f1082a7.b4258d8","z":"f34524da.289148","x":1320.8958435058594,"y":127.88888549804688,"wires":[["a834e98a.ef0118"]]},{"id":"a834e98a.ef0118","type":"function","z":"f34524da.289148","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1463.8958435058594,"y":128.88887786865234,"wires":[[]]},{"id":"537db029.1fa2","type":"comment","z":"f34524da.289148","name":"에러핸들링","info":"","x":980.8958740234375,"y":140.88888549804688,"wires":[]},{"id":"6c22d306.537cbc","type":"switch","z":"f34524da.289148","name":"","property":"isError","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":978.8958740234375,"y":185.88888549804688,"wires":[["ca5a7344.5fdec"],[]]},{"id":"e830c714.2cb918","type":"comment","z":"f34524da.289148","name":"쿼리실행","info":"","x":1322.8958740234375,"y":65.88888549804688,"wires":[]},{"id":"f91cabfb.0ee928","type":"comment","z":"f34524da.289148","name":"파라메타취득","info":"","x":1469.8958740234375,"y":63.888885498046875,"wires":[]},{"id":"72bf3601.279808","type":"comment","z":"f34524da.289148","name":"★action = \"login\"","info":"","x":488.8957214355469,"y":125.88888549804688,"wires":[]},{"id":"72575fb5.1acea","type":"function","z":"f34524da.289148","name":"","func":"var request = msg.payload;\n//TODO 나중에 정수로 바꿈\nvar formData = request.tomoVupi001;\nmsg.validateData = formData;\n\nreturn msg;","outputs":1,"noerr":0,"x":644.6665954589844,"y":263.6666488647461,"wires":[["fc776dcf.1e25b"]]},{"id":"fc776dcf.1e25b","type":"subflow:bd223029.8c183","z":"f34524da.289148","name":"","x":831.6666259765625,"y":263.6666564941406,"wires":[["a5fe279a.7fcd18"]]},{"id":"a5fe279a.7fcd18","type":"switch","z":"f34524da.289148","name":"","property":"isError","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":986.6665954589844,"y":262.6666488647461,"wires":[["ae5cc477.a91778"],[]]},{"id":"ae5cc477.a91778","type":"function","z":"f34524da.289148","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1173.6665954589844,"y":227.66663360595703,"wires":[["6213845a.d64fcc"]]},{"id":"6213845a.d64fcc","type":"subflow:f1082a7.b4258d8","z":"f34524da.289148","x":1318.6665954589844,"y":225.66663360595703,"wires":[["f73db46f.f1eb68"]]},{"id":"f73db46f.f1eb68","type":"function","z":"f34524da.289148","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1462.6665954589844,"y":225.6666488647461,"wires":[[]]},{"id":"85464b3c.45aa48","type":"comment","z":"f34524da.289148","name":"★action = \"join\"","info":"","x":499.6666564941406,"y":213.66665649414062,"wires":[]},{"id":"616de4ad.1b1d3c","type":"subflow","name":"ActionBefore","info":"","in":[{"x":87,"y":170,"wires":[{"id":"55d99527.966dcc"}]}],"out":[{"x":1111.9999694824219,"y":614.0000534057617,"wires":[{"id":"6573de97.4d884","port":0},{"id":"b462fe8a.1c65d","port":0},{"id":"55d99527.966dcc","port":3},{"id":"a3b974d3.f4b8f8","port":0}]}]},{"id":"6573de97.4d884","type":"function","z":"616de4ad.1b1d3c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1126.8367614746094,"y":165.69445037841797,"wires":[[]]},{"id":"55d99527.966dcc","type":"switch","z":"616de4ad.1b1d3c","name":"switch","property":"ext_auth","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","outputs":4,"x":348.8402099609375,"y":191.49654388427734,"wires":[["6573de97.4d884"],["b462fe8a.1c65d"],["a3b974d3.f4b8f8"],[]]},{"id":"3c35e1b4.31dbee","type":"comment","z":"616de4ad.1b1d3c","name":"인증패턴①","info":"","x":1136.4999694824219,"y":128.00000762939453,"wires":[]},{"id":"b462fe8a.1c65d","type":"function","z":"616de4ad.1b1d3c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1130.6665954589844,"y":248.66661834716797,"wires":[[]]},{"id":"a3b974d3.f4b8f8","type":"function","z":"616de4ad.1b1d3c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1129.6665954589844,"y":338.66661834716797,"wires":[[]]},{"id":"a77b4ec9.ce046","type":"comment","z":"616de4ad.1b1d3c","name":"인증패턴②","info":"","x":1145.6665954589844,"y":205.6666488647461,"wires":[]},{"id":"cdb9a02f.e7ce1","type":"comment","z":"616de4ad.1b1d3c","name":"인증패턴③","info":"","x":1146.6665954589844,"y":299.6666488647461,"wires":[]},{"id":"62f2a14f.aafb3","type":"subflow","name":"Routing","info":"","in":[],"out":[{"x":776.9999847412109,"y":283,"wires":[{"id":"43f8dc0c.bac2e4","port":0},{"id":"f621b29d.a968d","port":0},{"id":"5bb5d3e0.106b5c","port":0},{"id":"dd17c2b7.76ac4","port":0}]}]},{"id":"8acdabfc.033518","type":"http in","z":"62f2a14f.aafb3","name":"","url":"/issueme","method":"get","swaggerDoc":"","x":100.89582824707031,"y":125.88888549804688,"wires":[["43f8dc0c.bac2e4"]]},{"id":"d18b54f7.b094a8","type":"http in","z":"62f2a14f.aafb3","name":"","url":"/memberInput","method":"get","swaggerDoc":"","x":109.89579772949219,"y":249.88888549804688,"wires":[["f621b29d.a968d"]]},{"id":"43f8dc0c.bac2e4","type":"function","z":"62f2a14f.aafb3","name":"SetRoutingParams","func":"msg.action =\"issueme\";\n\nreturn msg;","outputs":1,"noerr":0,"x":383.83331298828125,"y":129.82640075683594,"wires":[[]]},{"id":"f621b29d.a968d","type":"function","z":"62f2a14f.aafb3","name":"SetRoutingParams","func":"msg.action =\"memberInput\";\n\nreturn msg;","outputs":1,"noerr":0,"x":399.89573669433594,"y":255.88888549804688,"wires":[[]]},{"id":"b636a5fe.8508b8","type":"http in","z":"62f2a14f.aafb3","name":"","url":"/join","method":"post","swaggerDoc":"","x":99.89581298828125,"y":519.888916015625,"wires":[["dd17c2b7.76ac4"]]},{"id":"ea956e1.6bc659","type":"http in","z":"62f2a14f.aafb3","name":"","url":"/login","method":"post","swaggerDoc":"","x":101.89581298828125,"y":382.8888854980469,"wires":[["5bb5d3e0.106b5c"]]},{"id":"5bb5d3e0.106b5c","type":"function","z":"62f2a14f.aafb3","name":"SetRoutingParams","func":"msg.action =\"login\";\nreturn msg;","outputs":1,"noerr":0,"x":396.895751953125,"y":384.8888854980469,"wires":[[]]},{"id":"dd17c2b7.76ac4","type":"function","z":"62f2a14f.aafb3","name":"SetRoutingParams","func":"msg.action =\"join\";\nreturn msg;","outputs":1,"noerr":0,"x":402.8957824707031,"y":521.8888854980469,"wires":[[]]},{"id":"93814b17.079248","type":"comment","z":"62f2a14f.aafb3","name":"{action = \"issueme\" }","info":"","x":398.8298797607422,"y":84.81944274902344,"wires":[]},{"id":"3fca0653.d7a22a","type":"comment","z":"62f2a14f.aafb3","name":"{action = \"memberInput\" }","info":"","x":405.8957977294922,"y":217.88888549804688,"wires":[]},{"id":"26f32401.534e1c","type":"comment","z":"62f2a14f.aafb3","name":"{action = \"login\" }","info":"","x":384.8957977294922,"y":341.8888854980469,"wires":[]},{"id":"cd0b3a0f.38f448","type":"comment","z":"62f2a14f.aafb3","name":"{action = \"join\" }","info":"","x":386.8957977294922,"y":479.8888854980469,"wires":[]},{"id":"a2c42915.525658","type":"comment","z":"62f2a14f.aafb3","name":"로그인(화면)","info":"","x":83.89582824707031,"y":80.88888549804688,"wires":[]},{"id":"bbadb256.49d61","type":"comment","z":"62f2a14f.aafb3","name":"회원가입(화면)","info":"","x":103,"y":214.88888549804688,"wires":[]},{"id":"922f14f7.6beb88","type":"comment","z":"62f2a14f.aafb3","name":"로그인(AJAX)","info":"","x":93.89582824707031,"y":339.8888854980469,"wires":[]},{"id":"8f51aa83.5abc78","type":"comment","z":"62f2a14f.aafb3","name":"회원가입(AJAX)","info":"","x":113.89582824707031,"y":475.8888854980469,"wires":[]},{"id":"712d8080.ca192","type":"subflow:62f2a14f.aafb3","z":"47f17524.44540c","x":270,"y":256.37847900390625,"wires":[["a8f26aaa.3399c8"]]},{"id":"a8f26aaa.3399c8","type":"subflow:616de4ad.1b1d3c","z":"47f17524.44540c","x":474.99652099609375,"y":258.16668701171875,"wires":[["7c0bc23c.11e79c"]]},{"id":"7c0bc23c.11e79c","type":"subflow:f34524da.289148","z":"47f17524.44540c","x":697.9930419921875,"y":255.79513549804688,"wires":[["7d5990f5.1e844"]]},{"id":"7d5990f5.1e844","type":"subflow:10e3a0ee.fc33af","z":"47f17524.44540c","x":905.0069580078125,"y":253.579833984375,"wires":[["ecc62d16.f95e6"]]},{"id":"ecc62d16.f95e6","type":"subflow:aa60eb02.239d88","z":"47f17524.44540c","x":1097.003662109375,"y":253,"wires":[]}]
