src/nodered/plugins/templates/templates.json
[{"id":"21859af5.df3b16","type":"switch","z":"df5c20a6.81f85","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"tomo","vt":"str"},{"t":"eq","v":"memberInput","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":310.9999237060547,"y":254.83334350585938,"wires":[["76904cb7.419ba4"],["4d2cee44.4be9a"],["2fecc685.2f4c7a"]]},{"id":"adfecf17.98bff","type":"comment","z":"df5c20a6.81f85","name":"★action = \"tomo\"","info":"","x":828.8957366943359,"y":182.88888549804688,"wires":[]},{"id":"2fecc685.2f4c7a","type":"http response","z":"df5c20a6.81f85","name":"","x":1356.8959197998047,"y":595.888916015625,"wires":[]},{"id":"4d2cee44.4be9a","type":"template","z":"df5c20a6.81f85","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js\"></script>\n        <script>\n        $(document).ready(function(){\n            $(\".btn_ajax\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $.ajax({\n                        url: form.attr('action'),\n                        type: form.attr('method'),\n                        data: form.serialize(),\n                        timeout: 10000,\n                        success:ajaxSuccess\n                    })\n                });\n             $(\".btn_submit\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $(form).submit();\n                   \n                });  \n            function ajaxSuccess(result){\n                //정상일때 메세지 \n                //正常時のメッセージ\n                var msg = result.msg;\n                //에러일때 메세지 \n                //エラー時のメッセージ\n                var errMsg = result.errMsg;\n                $(errMsg).each(function(index){\n                        $(\".msgAreaUl\").append(\"<li>\"+this+\"</li>\");\n                    });\n                 //에러난 태그\n                //エラー箇所\n                var errLocation = result.errLocation;\n                    $(errLocation).each(function(index){\n                        var input = $(\"#\"+this);\n                        if($(input).attr(\"type\") === \"text\" || $(input).attr(\"type\") === \"password\" ){\n                            $(input).css({\n                                \"borderColor\":\"red\"\n                            });\n                        }\n                    });\n                }\n                \n                $(\".ime_disabled\").on(\"keydown\", function(e){\n                if(e.which > 20){\n                var c = String.fromCharCode(e.which);\n\t\t         if(c.match(/[^A-Za-z0-9]+/)){\n\t\t              return false;\n\t\t          }\n                }\n                });\n        });\n        </script>\n    </head>\n    <body>\n        <div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n        <h1>회원가입</h1>\n         <form action = \"/joinVerify\" method =\"post\" id=\"joinVerify\">\n            <table>\n                <tr>\n                    <td>성</td>\n                    <td><input type=\"text\" name =\"tomoVupi002[family_name]\" id = \"family_name\"  /></td>\n                 </tr> \n                  <tr>\n                    <td>이름</td>\n                    <td><input type=\"text\" name =\"tomoVupi002[first_name]\" id = \"first_name\" /></td>\n                </tr> \n                <tr>\n                    <td>이메일</td>\n                    <td> <input type=\"email\" name =\"tomoVupi002[email]\" id =\"email\" class=\"text ime_disabled\"></td>\n                </tr>\n                <tr>\n                    <td>이메일확인</td>\n                    <td><input type=\"email\" name =\"tomoVupi002[email_verify]\" id = \"email_verify\" /></td>\n                </tr>   \n                <tr>\n                    <td>패스워드</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr> \n                 <tr>\n                    <td>생일</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr> \n                 <tr>\n                    <td>성별</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr>  \n                <tr>\n                    <td colspan =\"2\"><button type=\"button\" class =\"btn_submit\" action = \"joinVerify\" value = \"회원가입\" >회원가입</button></td>\n                </tr>   \n            </table>\n             </form>\n    </body>\n</html>","x":834.8957977294922,"y":342.8888854980469,"wires":[["2fecc685.2f4c7a"]]},{"id":"569f421f.dd0d0c","type":"comment","z":"df5c20a6.81f85","name":"★action = \"memberInput\"","info":"","x":860.8958129882812,"y":298.8888854980469,"wires":[]},{"id":"76904cb7.419ba4","type":"template","z":"df5c20a6.81f85","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>로그인페이지</title>\n<!-- Meta -->\n\t<meta charset=\"utf-8\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t<meta name=\"description\" content=\"\">\n\t<meta name=\"author\" content=\"\">\n\n\n\t<!-- Web Fonts -->\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=cyrillic,latin\">\n\n\t<!-- CSS Global Compulsory -->\n\t<link rel=\"stylesheet\" href=\"/plugins/bootstrap/css/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/style.css\">\n\t\n\n\t<!-- CSS Implementing Plugins -->\n\t<link rel=\"stylesheet\" href=\"/plugins/animate.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/line-icons/line-icons.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/font-awesome/css/font-awesome.min.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/brand-buttons/brand-buttons.css\">\n\n\t<link rel=\"stylesheet\" href=\"/plugins/scrollbar/css/jquery.mCustomScrollbar.css\">\n\t\n\t<!-- CSS Page Style -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/pages/page_log_reg_v4.css\">\n\n\t<!-- CSS Theme -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-colors/blue.css\">\n\t\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-colors/default.css\" id=\"style_color\">\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-skins/dark.css\">\n\t\n\t<!-- CSS Customization -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/custom.css\">\n\t\n\n\t<!-- CSS Header -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/headers/header-v5.css\">\n\t<!-- <link rel=\"stylesheet\" href=\"${pageContext.request.contextPath}/assets/css/footers/footer-v1.css\"> -->\n\n\t<!-- CSS  Footer -->\n\t<!-- <link rel=\"stylesheet\" href=\"${pageContext.request.contextPath}/assets/css/headers/header-default.css\"> -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/footers/footer-v7.css\">\n\t\n\t\n</head>\n\n<body class=\"header-fixed\">\n<!--=== Header ===-->\n\t<jsp:include page=\"../include/top.jsp\"></jsp:include>\n<!--=== End Header ===-->\n\t\n\t\n<!--=== Content Part ===-->\n\t<div class=\"container-fluid\">\n\t\t<div class=\"row equal-height-columns\">\n\t\t\t<div class=\"col-md-6 col-sm-6 hidden-xs image-block equal-height-column\"></div>\n\t\t\t<div class=\"col-md-6 col-sm-6 form-block equal-height-column\">\n\t\t\t\n\t\t\t\n\t\t\t\t<a href=\"index.html\">\n\t\t\t\t\t<img src=\"/img/logo1-default.png\" alt=\"\">\n\t\t\t\t</a>\n\t\t\t\t<div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n\t\t\t\t<h2 class=\"margin-bottom-30\">Login To Your Account</h2>\n\t\t\t <form action = \"/login\" method =\"post\" id=\"login\">\n\t\t\t\t\t<div class=\"login-block\">\n\t\t\t\t\t\t<div class=\"input-group margin-bottom-20\">\n\t\t\t\t\t\t\t<span class=\"input-group-addon rounded-left input-border-email\"><i class=\"icon-user color-red\"></i></span>\n\t\t\t\t\t\t\t<input type=\"email\" class=\"form-control rounded-right input-border-email\" placeholder=\"이메일 입력하세요\" name=\"tomoVupi001[email]\" id=\"email\" >\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"input-group margin-bottom-20\">\n\t\t\t\t\t\t\t<span class=\"input-group-addon rounded-left input-border-password\"><i class=\"icon-lock color-red\"></i></span>\n\t\t\t\t\t\t\t<input type=\"password\" class=\"form-control rounded-right input-border-password\" placeholder=\"Password를 입력하세요\" name=\"tomoVupi001[password]\" id=\"password\" >\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"checkbox\">\n\t\t\t\t\t\t\t<ul class=\"list-inline\">\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<label>\n\t\t\t\t\t\t\t\t\t\t<input type=\"checkbox\"> ID기억하기\n\t\t\t\t\t\t\t\t\t</label>\n\t\t\t\t\t\t\t\t</li>\n\n\t\t\t\t\t\t\t\t<li class=\"pull-right\">\n\t\t\t\t\t\t\t\t\t<a href=\"#\">비밀번호를 잊으셨나요?</a>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"row margin-bottom-70\">\n\t\t\t\t\t\t\t<div class=\"col-md-12\">\n\t\t\t\t\t\t\t    <button type=\"button\" class =\"btn-u btn-u-red btn-block rounded btn_ajax\" action = \"login\" >LOGIN</button>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"social-login text-center\">\n\t\t\t\t\t\t\t<div class=\"or rounded-x\">Or</div>\n\t\t\t\t\t\t\t<ul class=\"list-inline margin-bottom-20\">\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<button class=\"btn rounded btn-lg btn-facebook\">\n\t\t\t\t\t\t\t\t\t\t<i class=\"fa fa-facebook\"></i> 페이스북으로 로그인\n\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<button class=\"btn rounded btn-lg btn-twitter\">\n\t\t\t\t\t\t\t\t\t\t<i class=\"fa fa-twitter\"></i> 트위터로 로그인\n\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t\t<p>아직 회원이 아니신가요? <a href=\"page_registration2.html\">회원 가입</a></p>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</form>\n\t\t\t</div>\n\t\t</div>\n\t</div><!--/container-->\n\t<!--=== End Content Part ===-->\n\n\n\t<!-- Footer Section -->\n\t<jsp:include page=\"../include/bottom.jsp\"></jsp:include>\n\t<!-- End Footer Section -->\n\n\n\t<!-- JS Global Compulsory -->\n\t<script type=\"text/javascript\" src=\"/plugins/jquery/jquery.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/jquery/jquery-migrate.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/bootstrap/js/bootstrap.min.js\"></script>\n\n\t<!-- JS Implementing Plugins -->\n\t<script type=\"text/javascript\" src=\"/plugins/back-to-top.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/backstretch/jquery.backstretch.min.js\"></script>\n\n\t<script type=\"text/javascript\" src=\"/plugins/smoothScroll.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/jquery.parallax.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js\"></script>\n\t\n\t\n\t<!-- JS Customization -->\n\t<script type=\"text/javascript\" src=\"/js/custom.js\"></script>\n\n\t<!-- JS Page Level -->\n\t<script type=\"text/javascript\" src=\"/js/app.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/forms/login.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/forms/contact.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/plugins/style-switcher.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/tomo/tomoBaseScript.js\"></script>\n\t\n\n\n\n\t\n\t\n\t<script>\n\t\tjQuery(document).ready(function() {\n\t\t\tApp.init();\n\t\t\tLoginForm.initLoginForm();\n\t\t\tContactForm.initContactForm();\n\t\t\tStyleSwitcher.initStyleSwitcher();\n\t\t\t\n\t\t});\n\t\t\n\t</script>\n\t<script>\n\t\t$(\".image-block\").backstretch([\n\t\t\t\"/img/login_back1.jpg\",\n\t\t\t\"/img/login_back1.jpg\",\n\t\t\t], {\n\t\t\t\tfade: 1000,\n\t\t\t\tduration: 7000\n\t\t\t});\n\t</script>\n\t\n\t\n<!--[if lt IE 9]>\n\t<script src=\"assets/plugins/respond.js\"></script>\n\t<script src=\"assets/plugins/html5shiv.js\"></script>\n\t<script src=\"assets/plugins/placeholder-IE-fixes.js\"></script>\n\t<![endif]-->\n</body>\n</html>","x":840.4630813598633,"y":229.09091186523438,"wires":[["2fecc685.2f4c7a"]]}]
