src/nodered/actions/baseAction.json
[{"id":"df5c20a6.81f85","type":"subflow","name":"templates","info":"","in":[{"x":106,"y":231,"wires":[{"id":"21859af5.df3b16"}]}],"out":[]},{"id":"21859af5.df3b16","type":"switch","z":"df5c20a6.81f85","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"tomo","vt":"str"},{"t":"eq","v":"memberInput","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":310.9999237060547,"y":254.83334350585938,"wires":[["76904cb7.419ba4"],["4d2cee44.4be9a"],["2fecc685.2f4c7a"]]},{"id":"167aed49.3eb9c3","type":"http response","z":"df5c20a6.81f85","name":"","x":1179.8960418701172,"y":750.8889465332031,"wires":[]},{"id":"adfecf17.98bff","type":"comment","z":"df5c20a6.81f85","name":"★action = \"tomo\"","info":"","x":828.8957366943359,"y":182.88888549804688,"wires":[]},{"id":"2fecc685.2f4c7a","type":"http response","z":"df5c20a6.81f85","name":"","x":1356.8959197998047,"y":595.888916015625,"wires":[]},{"id":"4d2cee44.4be9a","type":"template","z":"df5c20a6.81f85","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js\"></script>\n        <script>\n        $(document).ready(function(){\n            $(\".btn_ajax\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $.ajax({\n                        url: form.attr('action'),\n                        type: form.attr('method'),\n                        data: form.serialize(),\n                        timeout: 10000,\n                        success:ajaxSuccess\n                    })\n                });\n             $(\".btn_submit\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $(form).submit();\n                   \n                });  \n            function ajaxSuccess(result){\n                //정상일때 메세지 \n                //正常時のメッセージ\n                var msg = result.msg;\n                //에러일때 메세지 \n                //エラー時のメッセージ\n                var errMsg = result.errMsg;\n                $(errMsg).each(function(index){\n                        $(\".msgAreaUl\").append(\"<li>\"+this+\"</li>\");\n                    });\n                 //에러난 태그\n                //エラー箇所\n                var errLocation = result.errLocation;\n                    $(errLocation).each(function(index){\n                        var input = $(\"#\"+this);\n                        if($(input).attr(\"type\") === \"text\" || $(input).attr(\"type\") === \"password\" ){\n                            $(input).css({\n                                \"borderColor\":\"red\"\n                            });\n                        }\n                    });\n                }\n                \n                $(\".ime_disabled\").on(\"keydown\", function(e){\n                if(e.which > 20){\n                var c = String.fromCharCode(e.which);\n\t\t         if(c.match(/[^A-Za-z0-9]+/)){\n\t\t              return false;\n\t\t          }\n                }\n                });\n        });\n        </script>\n    </head>\n    <body>\n        <div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n        <h1>회원가입</h1>\n         <form action = \"/joinVerify\" method =\"post\" id=\"joinVerify\">\n            <table>\n                <tr>\n                    <td>성</td>\n                    <td><input type=\"text\" name =\"tomoVupi002[family_name]\" id = \"family_name\"  /></td>\n                 </tr> \n                  <tr>\n                    <td>이름</td>\n                    <td><input type=\"text\" name =\"tomoVupi002[first_name]\" id = \"first_name\" /></td>\n                </tr> \n                <tr>\n                    <td>이메일</td>\n                    <td> <input type=\"email\" name =\"tomoVupi002[email]\" id =\"email\" class=\"text ime_disabled\"></td>\n                </tr>\n                <tr>\n                    <td>이메일확인</td>\n                    <td><input type=\"email\" name =\"tomoVupi002[email_verify]\" id = \"email_verify\" /></td>\n                </tr>   \n                <tr>\n                    <td>패스워드</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr> \n                 <tr>\n                    <td>생일</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr> \n                 <tr>\n                    <td>성별</td>\n                    <td><input type=\"password\" name =\"tomoVupi002[password]\" id = \"password\" /></td>\n                </tr>  \n                <tr>\n                    <td colspan =\"2\"><button type=\"button\" class =\"btn_submit\" action = \"joinVerify\" value = \"회원가입\" >회원가입</button></td>\n                </tr>   \n            </table>\n             </form>\n    </body>\n</html>","x":834.8957977294922,"y":342.8888854980469,"wires":[["2fecc685.2f4c7a"]]},{"id":"569f421f.dd0d0c","type":"comment","z":"df5c20a6.81f85","name":"★action = \"memberInput\"","info":"","x":860.8958129882812,"y":298.8888854980469,"wires":[]},{"id":"7190cb67.0cfbd4","type":"template","z":"df5c20a6.81f85","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js\"></script>\n        <script>\n        $(document).ready(function(){\n            $(\".btn_ajax\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $.ajax({\n                        url: form.attr('action'),\n                        type: form.attr('method'),\n                        data: form.serialize(),\n                        timeout: 10000,\n                        success:ajaxSuccess\n                    })\n                });\n                 $(\".btn_submit\").on(\"click\", function(e) {\n                    var button = $(this);\n                    var form =$(\"#\"+$(button).attr(\"action\"));\n                    $(form).submit();\n                   \n                });  \n            function ajaxSuccess(result){\n                //정상일때 메세지 \n                //正常時のメッセージ\n                var msg = result.msg;\n                //에러일때 메세지 \n                //エラー時のメッセージ\n                var errMsg = result.errMsg;\n                $(errMsg).each(function(index){\n                        $(\".msgAreaUl\").append(\"<li>\"+this+\"</li>\");\n                    });\n                 //에러난 태그\n                //エラー箇所\n                var errLocation = result.errLocation;\n                    $(errLocation).each(function(index){\n                        var input = $(\"#\"+this);\n                        if($(input).attr(\"type\") === \"text\" || $(input).attr(\"type\") === \"password\" ){\n                            $(input).css({\n                                \"borderColor\":\"red\"\n                            });\n                        }\n                    });\n                }\n                \n                $(\".ime_disabled\").on(\"keydown\", function(e){\n                if(e.which > 20){\n                var c = String.fromCharCode(e.which);\n\t\t         if(c.match(/[^A-Za-z0-9]+/)){\n\t\t              return false;\n\t\t          }\n                }\n                });\n        });\n        </script>\n    </head>\n    <body>\n        <div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n         <form action = \"/login\" method =\"post\" id=\"login\">\n            <table>\n                <tr>\n                    <td>이메일</td>\n                    <td> <input type=\"text\" name =\"tomoVupi001[email]\" id =\"email\" class=\"text ime_disabled\"></td>\n                </tr>\n                <tr>\n                    <td>패스워드</td>\n                    <td><input type=\"password\" name =\"tomoVupi001[password]\" id = \"password\" /></td>\n                </tr>   \n                <tr>\n                    <td colspan =\"2\"><button type=\"button\" class =\"btn_ajax\" action = \"login\" value = \"로그인\" >로그인</button></td>\n                </tr>   \n            </table>\n             </form>\n        <form action =\"/memberInput\" method =\"get\" id =\"memberInput\" >\n            <button type=\"button\" class =\"btn_submit\" action = \"memberInput\" value = \"가입하기\" >가입하기</button>\n        </form>\n    </body>\n</html>","x":1166.4630126953125,"y":82.09091186523438,"wires":[[]]},{"id":"76904cb7.419ba4","type":"template","z":"df5c20a6.81f85","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>로그인페이지</title>\n<!-- Meta -->\n\t<meta charset=\"utf-8\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t<meta name=\"description\" content=\"\">\n\t<meta name=\"author\" content=\"\">\n\n\n\t<!-- Web Fonts -->\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=cyrillic,latin\">\n\n\t<!-- CSS Global Compulsory -->\n\t<link rel=\"stylesheet\" href=\"/plugins/bootstrap/css/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/style.css\">\n\t\n\n\t<!-- CSS Implementing Plugins -->\n\t<link rel=\"stylesheet\" href=\"/plugins/animate.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/line-icons/line-icons.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/font-awesome/css/font-awesome.min.css\">\n\t<link rel=\"stylesheet\" href=\"/plugins/brand-buttons/brand-buttons.css\">\n\n\t<link rel=\"stylesheet\" href=\"/plugins/scrollbar/css/jquery.mCustomScrollbar.css\">\n\t\n\t<!-- CSS Page Style -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/pages/page_log_reg_v4.css\">\n\n\t<!-- CSS Theme -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-colors/blue.css\">\n\t\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-colors/default.css\" id=\"style_color\">\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/theme-skins/dark.css\">\n\t\n\t<!-- CSS Customization -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/custom.css\">\n\t\n\n\t<!-- CSS Header -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/headers/header-v5.css\">\n\t<!-- <link rel=\"stylesheet\" href=\"${pageContext.request.contextPath}/assets/css/footers/footer-v1.css\"> -->\n\n\t<!-- CSS  Footer -->\n\t<!-- <link rel=\"stylesheet\" href=\"${pageContext.request.contextPath}/assets/css/headers/header-default.css\"> -->\n\t<link rel=\"stylesheet\" href=\"/css/css_tomo/footers/footer-v7.css\">\n\t\n\t\n</head>\n\n<body class=\"header-fixed\">\n<!--=== Header ===-->\n\t<jsp:include page=\"../include/top.jsp\"></jsp:include>\n<!--=== End Header ===-->\n\t\n\t\n<!--=== Content Part ===-->\n\t<div class=\"container-fluid\">\n\t\t<div class=\"row equal-height-columns\">\n\t\t\t<div class=\"col-md-6 col-sm-6 hidden-xs image-block equal-height-column\"></div>\n\t\t\t<div class=\"col-md-6 col-sm-6 form-block equal-height-column\">\n\t\t\t\n\t\t\t\n\t\t\t\t<a href=\"index.html\">\n\t\t\t\t\t<img src=\"/img/logo1-default.png\" alt=\"\">\n\t\t\t\t</a>\n\t\t\t\t<div id=msgArea>\n            <ul class = msgAreaUl>\n            </ul>\n        </div>\n\t\t\t\t<h2 class=\"margin-bottom-30\">Login To Your Account</h2>\n\t\t\t <form action = \"/login\" method =\"post\" id=\"login\">\n\t\t\t\t\t<div class=\"login-block\">\n\t\t\t\t\t\t<div class=\"input-group margin-bottom-20\">\n\t\t\t\t\t\t\t<span class=\"input-group-addon rounded-left input-border-email\"><i class=\"icon-user color-red\"></i></span>\n\t\t\t\t\t\t\t<input type=\"email\" class=\"form-control rounded-right input-border-email\" placeholder=\"이메일 입력하세요\" name=\"tomoVupi001[email]\" id=\"email\" >\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"input-group margin-bottom-20\">\n\t\t\t\t\t\t\t<span class=\"input-group-addon rounded-left input-border-password\"><i class=\"icon-lock color-red\"></i></span>\n\t\t\t\t\t\t\t<input type=\"password\" class=\"form-control rounded-right input-border-password\" placeholder=\"Password를 입력하세요\" name=\"tomoVupi001[password]\" id=\"password\" >\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"checkbox\">\n\t\t\t\t\t\t\t<ul class=\"list-inline\">\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<label>\n\t\t\t\t\t\t\t\t\t\t<input type=\"checkbox\"> ID기억하기\n\t\t\t\t\t\t\t\t\t</label>\n\t\t\t\t\t\t\t\t</li>\n\n\t\t\t\t\t\t\t\t<li class=\"pull-right\">\n\t\t\t\t\t\t\t\t\t<a href=\"#\">비밀번호를 잊으셨나요?</a>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"row margin-bottom-70\">\n\t\t\t\t\t\t\t<div class=\"col-md-12\">\n\t\t\t\t\t\t\t    <button type=\"button\" class =\"btn-u btn-u-red btn-block rounded btn_ajax\" action = \"login\" >LOGIN</button>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t<div class=\"social-login text-center\">\n\t\t\t\t\t\t\t<div class=\"or rounded-x\">Or</div>\n\t\t\t\t\t\t\t<ul class=\"list-inline margin-bottom-20\">\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<button class=\"btn rounded btn-lg btn-facebook\">\n\t\t\t\t\t\t\t\t\t\t<i class=\"fa fa-facebook\"></i> 페이스북으로 로그인\n\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t\t<button class=\"btn rounded btn-lg btn-twitter\">\n\t\t\t\t\t\t\t\t\t\t<i class=\"fa fa-twitter\"></i> 트위터로 로그인\n\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t\t<p>아직 회원이 아니신가요? <a href=\"page_registration2.html\">회원 가입</a></p>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</form>\n\t\t\t</div>\n\t\t</div>\n\t</div><!--/container-->\n\t<!--=== End Content Part ===-->\n\n\n\t<!-- Footer Section -->\n\t<jsp:include page=\"../include/bottom.jsp\"></jsp:include>\n\t<!-- End Footer Section -->\n\n\n\t<!-- JS Global Compulsory -->\n\t<script type=\"text/javascript\" src=\"/plugins/jquery/jquery.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/jquery/jquery-migrate.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/bootstrap/js/bootstrap.min.js\"></script>\n\n\t<!-- JS Implementing Plugins -->\n\t<script type=\"text/javascript\" src=\"/plugins/back-to-top.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/backstretch/jquery.backstretch.min.js\"></script>\n\n\t<script type=\"text/javascript\" src=\"/plugins/smoothScroll.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/jquery.parallax.js\"></script>\n\t<script type=\"text/javascript\" src=\"/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js\"></script>\n\t\n\t\n\t<!-- JS Customization -->\n\t<script type=\"text/javascript\" src=\"/js/custom.js\"></script>\n\n\t<!-- JS Page Level -->\n\t<script type=\"text/javascript\" src=\"/js/app.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/forms/login.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/forms/contact.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/plugins/style-switcher.js\"></script>\n\t<script type=\"text/javascript\" src=\"/js/tomo/tomoBaseScript.js\"></script>\n\t\n\n\n\n\t\n\t\n\t<script>\n\t\tjQuery(document).ready(function() {\n\t\t\tApp.init();\n\t\t\tLoginForm.initLoginForm();\n\t\t\tContactForm.initContactForm();\n\t\t\tStyleSwitcher.initStyleSwitcher();\n\t\t\t\n\t\t});\n\t\t\n\t</script>\n\t<script>\n\t\t$(\".image-block\").backstretch([\n\t\t\t\"/img/login_back1.jpg\",\n\t\t\t\"/img/login_back1.jpg\",\n\t\t\t], {\n\t\t\t\tfade: 1000,\n\t\t\t\tduration: 7000\n\t\t\t});\n\t</script>\n\t\n\t\n<!--[if lt IE 9]>\n\t<script src=\"assets/plugins/respond.js\"></script>\n\t<script src=\"assets/plugins/html5shiv.js\"></script>\n\t<script src=\"assets/plugins/placeholder-IE-fixes.js\"></script>\n\t<![endif]-->\n</body>\n</html>","x":840.4630813598633,"y":229.09091186523438,"wires":[["2fecc685.2f4c7a"]]},{"id":"f6a247fe.cad788","type":"subflow","name":"ActionAfter","info":"","in":[{"x":195,"y":195,"wires":[{"id":"cb41574d.18a568"}]}],"out":[{"x":718.9999847412109,"y":191,"wires":[{"id":"cb41574d.18a568","port":0}]}]},{"id":"cb41574d.18a568","type":"function","z":"f6a247fe.cad788","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":460.82981872558594,"y":194.46530151367188,"wires":[[]]},{"id":"b7a2ac80.7da4f","type":"subflow","name":"model","info":"","in":[{"x":41,"y":190,"wires":[{"id":"e8bfafb8.a318c"}]}],"out":[{"x":1615.0000457763672,"y":328,"wires":[{"id":"82a8dc78.8876e","port":0},{"id":"1007de71.bcffc2","port":0},{"id":"a32ba61e.562188","port":0},{"id":"b434040d.c3b5b8","port":0}]}]},{"id":"e8bfafb8.a318c","type":"switch","z":"b7a2ac80.7da4f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":9,"x":319,"y":231,"wires":[["b481497b.acb218"],[],[],[],[],[],[],[],[]]},{"id":"b481497b.acb218","type":"switch","z":"b7a2ac80.7da4f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":647,"y":102,"wires":[["b23d50b.74448b","1007de71.bcffc2","a32ba61e.562188"]]},{"id":"a1e867e7.350068","type":"comment","z":"b7a2ac80.7da4f","name":"기능분기","info":"","x":331,"y":139,"wires":[]},{"id":"c806a82e.a612f8","type":"comment","z":"b7a2ac80.7da4f","name":"①회원정보취득","info":"","x":987,"y":29,"wires":[]},{"id":"32ae63e4.e4788c","type":"comment","z":"b7a2ac80.7da4f","name":"②회원등록","info":"","x":974.9999847412109,"y":159,"wires":[]},{"id":"b23d50b.74448b","type":"function","z":"b7a2ac80.7da4f","name":"getMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":991,"y":80,"wires":[["82a8dc78.8876e"]]},{"id":"1007de71.bcffc2","type":"function","z":"b7a2ac80.7da4f","name":"insertMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1002,"y":198,"wires":[["38313c90.841f04"]]},{"id":"82a8dc78.8876e","type":"cloudant in","z":"b7a2ac80.7da4f","name":"","database":"","service":"","search":"_id_","design":"","index":"","x":1316.0000457763672,"y":83,"wires":[[]]},{"id":"38313c90.841f04","type":"cloudant out","z":"b7a2ac80.7da4f","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1321.0000457763672,"y":198,"wires":[]},{"id":"e21dbfba.9e96e","type":"comment","z":"b7a2ac80.7da4f","name":"③회원정보변경","info":"","x":993.8958129882812,"y":259.8888854980469,"wires":[]},{"id":"a32ba61e.562188","type":"function","z":"b7a2ac80.7da4f","name":"updateMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":999.8958129882812,"y":313.8888854980469,"wires":[["a3c64c2c.8b783"]]},{"id":"a3c64c2c.8b783","type":"cloudant out","z":"b7a2ac80.7da4f","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1319.8958740234375,"y":279.8888854980469,"wires":[]},{"id":"31e716a7.30bcda","type":"comment","z":"b7a2ac80.7da4f","name":"④로그인이력등록","info":"","x":999.8958129882812,"y":368.8888854980469,"wires":[]},{"id":"b434040d.c3b5b8","type":"function","z":"b7a2ac80.7da4f","name":"insertLoginHistory","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1002.8958587646484,"y":418.8888854980469,"wires":[["d57beb92.5d1af8"]]},{"id":"d57beb92.5d1af8","type":"cloudant out","z":"b7a2ac80.7da4f","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1314.8959197998047,"y":367.8888854980469,"wires":[]},{"id":"21a7db62.ed9194","type":"comment","z":"b7a2ac80.7da4f","name":"회원관련","info":"","x":655.8957977294922,"y":59.888885498046875,"wires":[]},{"id":"f0455f8e.79a41","type":"comment","z":"b7a2ac80.7da4f","name":"NoSQLDB에 등록","info":"","x":1321.8958740234375,"y":27,"wires":[]},{"id":"a444b392.e44d3","type":"subflow","name":"validation","info":"","in":[{"x":191,"y":71,"wires":[{"id":"ebc1652e.f97d98"}]}],"out":[{"x":1012,"y":496,"wires":[{"id":"eab34c57.fafc7","port":0}]}]},{"id":"645decde.f9aad4","type":"switch","z":"a444b392.e44d3","name":"","property":"checkItme","propertyType":"msg","rules":[{"t":"eq","v":"email","vt":"str"},{"t":"eq","v":"password","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":633,"y":312,"wires":[["681d71e3.d40ce"],["4b794ae9.d6db84"],["eab34c57.fafc7"]]},{"id":"681d71e3.d40ce","type":"function","z":"a444b392.e44d3","name":"email","func":"var email = msg.validateData.email;\n\n//필수체크\nif(email === null || email.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"아이디는 필수 입니다.\");\n    msg.payload.errLocation.push(\"email\");\n}else if(email.length >50 ){\n   msg.payload.errMsg.push(\"아이디는 50자 이내로 입력해주세요\");\n   msg.payload.errLocation.push(\"email\");\n}\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":961,"y":303,"wires":[["6d309100.5dba4"]]},{"id":"4b794ae9.d6db84","type":"function","z":"a444b392.e44d3","name":"password","func":"var password = msg.validateData.password;\n\n//필수체크\nif(password === null || password.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"패스워드는 필수 입니다.\");\n    msg.payload.errLocation.push(\"password\");\n}else if(password.length >20 ){\n    msg.payload.errMsg.push(\"패스워드는 20자 이내로 입력해주세요\");\n    msg.payload.errLocation.push(\"password\");\n}\n\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":339,"wires":[["6d309100.5dba4"]]},{"id":"6d309100.5dba4","type":"function","z":"a444b392.e44d3","name":"looping","func":"if(msg.arrData[0] !== null || msg.arrData[0] !== undefined){ \n     msg.checkItme=msg.arrData[0];\n}\n\nif(msg.payload.errMsg === undefined ){\n    var errMsg = [];\n    msg.payload.errMsg = errMsg;\n}\nif(msg.payload.errLocation === undefined ){\n     var errLocation = [];\n    msg.payload.errLocation = errLocation;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":786,"y":74,"wires":[["645decde.f9aad4"]]},{"id":"ebc1652e.f97d98","type":"function","z":"a444b392.e44d3","name":"prepare","func":"var data = msg.validateData;\nvar arrData = [];\nfor(var i in data){\n    arrData.push(i);\n}\nmsg.arrData = arrData;\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":72,"wires":[["6d309100.5dba4"]]},{"id":"eab34c57.fafc7","type":"function","z":"a444b392.e44d3","name":"finish","func":"if(msg.arrData.length === 0 || msg.arrData === null){ \n    delete msg.arrData;\n}\n\nif(msg.payload.errMsg.length === 0 || msg.payload.errMsg === null ){\n     delete msg.payload.errMsg;\n}\n\nif(msg.payload.errLocation.length === 0 || msg.payload.errLocation === null){\n     delete msg.payload.errLocation;\n}\nif(msg.payload.errMsg.length >0 || msg.payload.errLocation.length >0){\n    msg.isError=true;\n}else{\n    msg.isError=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":495,"wires":[[]]},{"id":"c914c7ac.5392f8","type":"comment","z":"a444b392.e44d3","name":"체크항목(체크항목이 늘어나면 여기에 추가)","info":"","x":1081,"y":265,"wires":[]},{"id":"242a2e94.2f5112","type":"comment","z":"a444b392.e44d3","name":"루프처리","info":"","x":777,"y":36,"wires":[]},{"id":"3e340d21.ecf822","type":"comment","z":"a444b392.e44d3","name":"체크항목분기","info":"","x":640,"y":268,"wires":[]},{"id":"58303e3e.e29da","type":"comment","z":"a444b392.e44d3","name":"유효성검사후 처리","info":"","x":753,"y":457,"wires":[]},{"id":"a7b20a92.988228","type":"comment","z":"a444b392.e44d3","name":"유효성검사전 처리","info":"","x":474,"y":36,"wires":[]},{"id":"5b76a3e0.6101bc","type":"subflow","name":"MainActions","info":"","in":[{"x":95,"y":164,"wires":[{"id":"b14f69c7.3f9188"}]}],"out":[{"x":1850.0000915527344,"y":838.0000839233398,"wires":[{"id":"4cafcd7d.db82d4","port":0},{"id":"780deaf4.0ba8f4","port":1},{"id":"b14f69c7.3f9188","port":2},{"id":"171a0f85.92c08","port":0},{"id":"da1bef5e.e9c12","port":1}]}]},{"id":"b14f69c7.3f9188","type":"switch","z":"5b76a3e0.6101bc","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"join","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":275.8368377685547,"y":178.15280151367188,"wires":[["fdd62e96.aab29"],["233211a1.5b570e"],[]]},{"id":"c7ec17e6.3e20b8","type":"function","z":"5b76a3e0.6101bc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1176.8958435058594,"y":129.88888549804688,"wires":[["d8fdf74.c338608"]]},{"id":"b8d0964b.1e70e8","type":"subflow:a444b392.e44d3","z":"5b76a3e0.6101bc","name":"","x":829.8958587646484,"y":186.88888549804688,"wires":[["780deaf4.0ba8f4"]]},{"id":"fdd62e96.aab29","type":"function","z":"5b76a3e0.6101bc","name":"","func":"var request = msg.payload;\n//TODO 나중에 정수로 바꿈\nvar formData = request.tomoVupi001;\nmsg.validateData = formData;\n\nreturn msg;","outputs":1,"noerr":0,"x":642.8958587646484,"y":186.88888549804688,"wires":[["b8d0964b.1e70e8"]]},{"id":"27f64129.c6452e","type":"comment","z":"5b76a3e0.6101bc","name":"파라메타취득","info":"","x":650.8958740234375,"y":144.88888549804688,"wires":[]},{"id":"54561712.2a5078","type":"comment","z":"5b76a3e0.6101bc","name":"쿼리요청","info":"","x":1176.8958740234375,"y":67.88888549804688,"wires":[]},{"id":"50370d18.9d7d94","type":"comment","z":"5b76a3e0.6101bc","name":"유효성검사","info":"","x":823.8958740234375,"y":142.88888549804688,"wires":[]},{"id":"d8fdf74.c338608","type":"subflow:b7a2ac80.7da4f","z":"5b76a3e0.6101bc","x":1320.8958435058594,"y":127.88888549804688,"wires":[["4cafcd7d.db82d4"]]},{"id":"4cafcd7d.db82d4","type":"function","z":"5b76a3e0.6101bc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1463.8958435058594,"y":128.88887786865234,"wires":[[]]},{"id":"82d11801.a7e0b8","type":"comment","z":"5b76a3e0.6101bc","name":"에러핸들링","info":"","x":980.8958740234375,"y":140.88888549804688,"wires":[]},{"id":"780deaf4.0ba8f4","type":"switch","z":"5b76a3e0.6101bc","name":"","property":"isError","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":978.8958740234375,"y":185.88888549804688,"wires":[["c7ec17e6.3e20b8"],[]]},{"id":"6688cb5.a8fa834","type":"comment","z":"5b76a3e0.6101bc","name":"쿼리실행","info":"","x":1322.8958740234375,"y":65.88888549804688,"wires":[]},{"id":"fc8c9ec9.a91bc","type":"comment","z":"5b76a3e0.6101bc","name":"파라메타취득","info":"","x":1469.8958740234375,"y":63.888885498046875,"wires":[]},{"id":"1ac6565e.094bba","type":"comment","z":"5b76a3e0.6101bc","name":"★action = \"login\"","info":"","x":488.8957214355469,"y":125.88888549804688,"wires":[]},{"id":"233211a1.5b570e","type":"function","z":"5b76a3e0.6101bc","name":"","func":"var request = msg.payload;\n//TODO 나중에 정수로 바꿈\nvar formData = request.tomoVupi001;\nmsg.validateData = formData;\n\nreturn msg;","outputs":1,"noerr":0,"x":644.6665954589844,"y":263.6666488647461,"wires":[["d35b0efe.4bf18"]]},{"id":"d35b0efe.4bf18","type":"subflow:a444b392.e44d3","z":"5b76a3e0.6101bc","name":"","x":831.6666259765625,"y":263.6666564941406,"wires":[["da1bef5e.e9c12"]]},{"id":"da1bef5e.e9c12","type":"switch","z":"5b76a3e0.6101bc","name":"","property":"isError","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":986.6665954589844,"y":262.6666488647461,"wires":[["8288fb4c.fc36f8"],[]]},{"id":"8288fb4c.fc36f8","type":"function","z":"5b76a3e0.6101bc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1173.6665954589844,"y":227.66663360595703,"wires":[["f5b5ffc8.570fb"]]},{"id":"f5b5ffc8.570fb","type":"subflow:b7a2ac80.7da4f","z":"5b76a3e0.6101bc","x":1318.6665954589844,"y":225.66663360595703,"wires":[["171a0f85.92c08"]]},{"id":"171a0f85.92c08","type":"function","z":"5b76a3e0.6101bc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1462.6665954589844,"y":225.6666488647461,"wires":[[]]},{"id":"428de51f.9f7bcc","type":"comment","z":"5b76a3e0.6101bc","name":"★action = \"join\"","info":"","x":499.6666564941406,"y":213.66665649414062,"wires":[]},{"id":"a7139cc3.34cdf","type":"subflow","name":"ActionBefore","info":"","in":[{"x":87,"y":170,"wires":[{"id":"17c32229.b4f68e"}]}],"out":[{"x":1111.9999694824219,"y":614.0000534057617,"wires":[{"id":"d61f7ff7.fb143","port":0},{"id":"65def8a.c3c8908","port":0},{"id":"17c32229.b4f68e","port":3},{"id":"1f5faba6.34f394","port":0}]}]},{"id":"d61f7ff7.fb143","type":"function","z":"a7139cc3.34cdf","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1126.8367614746094,"y":165.69445037841797,"wires":[[]]},{"id":"17c32229.b4f68e","type":"switch","z":"a7139cc3.34cdf","name":"switch","property":"ext_auth","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","outputs":4,"x":348.8402099609375,"y":191.49654388427734,"wires":[["d61f7ff7.fb143"],["65def8a.c3c8908"],["1f5faba6.34f394"],[]]},{"id":"f83c9bde.1319c8","type":"comment","z":"a7139cc3.34cdf","name":"인증패턴①","info":"","x":1136.4999694824219,"y":128.00000762939453,"wires":[]},{"id":"65def8a.c3c8908","type":"function","z":"a7139cc3.34cdf","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1130.6665954589844,"y":248.66661834716797,"wires":[[]]},{"id":"1f5faba6.34f394","type":"function","z":"a7139cc3.34cdf","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1129.6665954589844,"y":338.66661834716797,"wires":[[]]},{"id":"4c2d897f.75dd68","type":"comment","z":"a7139cc3.34cdf","name":"인증패턴②","info":"","x":1145.6665954589844,"y":205.6666488647461,"wires":[]},{"id":"34e37f47.ab853","type":"comment","z":"a7139cc3.34cdf","name":"인증패턴③","info":"","x":1146.6665954589844,"y":299.6666488647461,"wires":[]},{"id":"c3965455.0f9378","type":"subflow","name":"routing","info":"","in":[],"out":[{"x":776.9999847412109,"y":283,"wires":[{"id":"6ec399f7.51eaf8","port":0},{"id":"2ff7b474.d59e8c","port":0},{"id":"939f57fb.070558","port":0},{"id":"fe412375.9d7d4","port":0}]}]},{"id":"55f16bff.459d34","type":"http in","z":"c3965455.0f9378","name":"","url":"/tomo","method":"get","swaggerDoc":"","x":90.89582824707031,"y":125.88888549804688,"wires":[["6ec399f7.51eaf8"]]},{"id":"61ce0c06.e495c4","type":"http in","z":"c3965455.0f9378","name":"","url":"/memberInput","method":"get","swaggerDoc":"","x":109.89579772949219,"y":249.88888549804688,"wires":[["2ff7b474.d59e8c"]]},{"id":"6ec399f7.51eaf8","type":"function","z":"c3965455.0f9378","name":"SetRoutingParams","func":"msg.action =\"tomo\";\n\nreturn msg;","outputs":1,"noerr":0,"x":383.83331298828125,"y":129.82640075683594,"wires":[[]]},{"id":"2ff7b474.d59e8c","type":"function","z":"c3965455.0f9378","name":"SetRoutingParams","func":"msg.action =\"memberInput\";\n\nreturn msg;","outputs":1,"noerr":0,"x":399.89573669433594,"y":255.88888549804688,"wires":[[]]},{"id":"bde704d4.c04398","type":"http in","z":"c3965455.0f9378","name":"","url":"/join","method":"post","swaggerDoc":"","x":99.89581298828125,"y":519.888916015625,"wires":[["fe412375.9d7d4"]]},{"id":"cb79214d.6ed8d","type":"http in","z":"c3965455.0f9378","name":"","url":"/login","method":"post","swaggerDoc":"","x":101.89581298828125,"y":382.8888854980469,"wires":[["939f57fb.070558"]]},{"id":"939f57fb.070558","type":"function","z":"c3965455.0f9378","name":"SetRoutingParams","func":"msg.action =\"login\";\nreturn msg;","outputs":1,"noerr":0,"x":396.895751953125,"y":384.8888854980469,"wires":[[]]},{"id":"fe412375.9d7d4","type":"function","z":"c3965455.0f9378","name":"SetRoutingParams","func":"msg.action =\"join\";\nreturn msg;","outputs":1,"noerr":0,"x":402.8957824707031,"y":521.8888854980469,"wires":[[]]},{"id":"3db2cbdf.6b88c4","type":"comment","z":"c3965455.0f9378","name":"{action = \"tomo\" }","info":"","x":388.8298797607422,"y":84.81944274902344,"wires":[]},{"id":"16dfe67.856281a","type":"comment","z":"c3965455.0f9378","name":"{action = \"memberInput\" }","info":"","x":405.8957977294922,"y":217.88888549804688,"wires":[]},{"id":"b165e57a.3dc868","type":"comment","z":"c3965455.0f9378","name":"{action = \"login\" }","info":"","x":384.8957977294922,"y":341.8888854980469,"wires":[]},{"id":"e23ff518.7756b8","type":"comment","z":"c3965455.0f9378","name":"{action = \"join\" }","info":"","x":386.8957977294922,"y":479.8888854980469,"wires":[]},{"id":"84b3cfc7.d95bf","type":"comment","z":"c3965455.0f9378","name":"로그인(화면)","info":"","x":83.89582824707031,"y":80.88888549804688,"wires":[]},{"id":"1fd04375.77c68d","type":"comment","z":"c3965455.0f9378","name":"회원가입(화면)","info":"","x":103,"y":214.88888549804688,"wires":[]},{"id":"f5945908.556168","type":"comment","z":"c3965455.0f9378","name":"로그인(AJAX)","info":"","x":93.89582824707031,"y":339.8888854980469,"wires":[]},{"id":"88f43928.4403a8","type":"comment","z":"c3965455.0f9378","name":"회원가입(AJAX)","info":"","x":113.89582824707031,"y":475.8888854980469,"wires":[]},{"id":"ab437788.32fae8","type":"subflow:c3965455.0f9378","z":"1b4f47dd.46c1f8","x":196.83335876464844,"y":462.5972595214844,"wires":[["a689e86a.9ca138"]]},{"id":"a689e86a.9ca138","type":"subflow:a7139cc3.34cdf","z":"1b4f47dd.46c1f8","x":401.8298797607422,"y":464.3854675292969,"wires":[["9bc78d57.8cebc"]]},{"id":"9bc78d57.8cebc","type":"subflow:5b76a3e0.6101bc","z":"1b4f47dd.46c1f8","x":624.8264007568359,"y":462.013916015625,"wires":[["272d5836.c959b8"]]},{"id":"272d5836.c959b8","type":"subflow:f6a247fe.cad788","z":"1b4f47dd.46c1f8","x":831.8403167724609,"y":459.7986145019531,"wires":[["dd4f62ec.122c6"]]},{"id":"dd4f62ec.122c6","type":"subflow:df5c20a6.81f85","z":"1b4f47dd.46c1f8","x":1023.8370208740234,"y":459.2187805175781,"wires":[]}]
