src/nodered/common/model.json
[{"id":"e8bfafb8.a318c","type":"switch","z":"b7a2ac80.7da4f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":9,"x":319,"y":231,"wires":[["b481497b.acb218"],[],[],[],[],[],[],[],[]]},{"id":"b481497b.acb218","type":"switch","z":"b7a2ac80.7da4f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":647,"y":102,"wires":[["b23d50b.74448b","1007de71.bcffc2","a32ba61e.562188"]]},{"id":"a1e867e7.350068","type":"comment","z":"b7a2ac80.7da4f","name":"기능분기","info":"","x":331,"y":139,"wires":[]},{"id":"c806a82e.a612f8","type":"comment","z":"b7a2ac80.7da4f","name":"①회원정보취득","info":"","x":987,"y":29,"wires":[]},{"id":"32ae63e4.e4788c","type":"comment","z":"b7a2ac80.7da4f","name":"②회원등록","info":"","x":974.9999847412109,"y":159,"wires":[]},{"id":"b23d50b.74448b","type":"function","z":"b7a2ac80.7da4f","name":"getMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":991,"y":80,"wires":[["82a8dc78.8876e"]]},{"id":"1007de71.bcffc2","type":"function","z":"b7a2ac80.7da4f","name":"insertMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1002,"y":198,"wires":[["38313c90.841f04"]]},{"id":"82a8dc78.8876e","type":"cloudant in","z":"b7a2ac80.7da4f","name":"","database":"","service":"","search":"_id_","design":"","index":"","x":1316.0000457763672,"y":83,"wires":[[]]},{"id":"38313c90.841f04","type":"cloudant out","z":"b7a2ac80.7da4f","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1321.0000457763672,"y":198,"wires":[]},{"id":"e21dbfba.9e96e","type":"comment","z":"b7a2ac80.7da4f","name":"③회원정보변경","info":"","x":993.8958129882812,"y":259.8888854980469,"wires":[]},{"id":"a32ba61e.562188","type":"function","z":"b7a2ac80.7da4f","name":"updateMemberInfo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":999.8958129882812,"y":313.8888854980469,"wires":[["a3c64c2c.8b783"]]},{"id":"a3c64c2c.8b783","type":"cloudant out","z":"b7a2ac80.7da4f","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1319.8958740234375,"y":279.8888854980469,"wires":[]},{"id":"31e716a7.30bcda","type":"comment","z":"b7a2ac80.7da4f","name":"④로그인이력등록","info":"","x":999.8958129882812,"y":368.8888854980469,"wires":[]},{"id":"b434040d.c3b5b8","type":"function","z":"b7a2ac80.7da4f","name":"insertLoginHistory","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1002.8958587646484,"y":418.8888854980469,"wires":[["d57beb92.5d1af8"]]},{"id":"d57beb92.5d1af8","type":"cloudant out","z":"b7a2ac80.7da4f","name":"","database":"","service":"","payonly":false,"operation":"insert","x":1314.8959197998047,"y":367.8888854980469,"wires":[]},{"id":"21a7db62.ed9194","type":"comment","z":"b7a2ac80.7da4f","name":"회원관련","info":"","x":655.8957977294922,"y":59.888885498046875,"wires":[]},{"id":"f0455f8e.79a41","type":"comment","z":"b7a2ac80.7da4f","name":"NoSQLDB에 등록","info":"","x":1321.8958740234375,"y":27,"wires":[]}]
