src/nodered/common/validation.json
[{"id":"645decde.f9aad4","type":"switch","z":"a444b392.e44d3","name":"","property":"checkItme","propertyType":"msg","rules":[{"t":"eq","v":"email","vt":"str"},{"t":"eq","v":"password","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":633,"y":312,"wires":[["681d71e3.d40ce"],["4b794ae9.d6db84"],["eab34c57.fafc7"]]},{"id":"681d71e3.d40ce","type":"function","z":"a444b392.e44d3","name":"email","func":"var email = msg.validateData.email;\n\n//필수체크\nif(email === null || email.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"아이디는 필수 입니다.\");\n    msg.payload.errLocation.push(\"email\");\n}else if(email.length >50 ){\n   msg.payload.errMsg.push(\"아이디는 50자 이내로 입력해주세요\");\n   msg.payload.errLocation.push(\"email\");\n}\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":961,"y":303,"wires":[["6d309100.5dba4"]]},{"id":"4b794ae9.d6db84","type":"function","z":"a444b392.e44d3","name":"password","func":"var password = msg.validateData.password;\n\n//필수체크\nif(password === null || password.length === 0 ){\n    //TODO 나중에 정수로 바꿈\n    msg.payload.errMsg.push(\"패스워드는 필수 입니다.\");\n    msg.payload.errLocation.push(\"password\");\n}else if(password.length >20 ){\n    msg.payload.errMsg.push(\"패스워드는 20자 이내로 입력해주세요\");\n    msg.payload.errLocation.push(\"password\");\n}\n\nmsg.arrData.splice(0,1);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":339,"wires":[["6d309100.5dba4"]]},{"id":"6d309100.5dba4","type":"function","z":"a444b392.e44d3","name":"looping","func":"if(msg.arrData[0] !== null || msg.arrData[0] !== undefined){ \n     msg.checkItme=msg.arrData[0];\n}\n\nif(msg.payload.errMsg === undefined ){\n    var errMsg = [];\n    msg.payload.errMsg = errMsg;\n}\nif(msg.payload.errLocation === undefined ){\n     var errLocation = [];\n    msg.payload.errLocation = errLocation;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":786,"y":74,"wires":[["645decde.f9aad4"]]},{"id":"ebc1652e.f97d98","type":"function","z":"a444b392.e44d3","name":"prepare","func":"var data = msg.validateData;\nvar arrData = [];\nfor(var i in data){\n    arrData.push(i);\n}\nmsg.arrData = arrData;\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":72,"wires":[["6d309100.5dba4"]]},{"id":"eab34c57.fafc7","type":"function","z":"a444b392.e44d3","name":"finish","func":"if(msg.arrData.length === 0 || msg.arrData === null){ \n    delete msg.arrData;\n}\n\nif(msg.payload.errMsg.length === 0 || msg.payload.errMsg === null ){\n     delete msg.payload.errMsg;\n}\n\nif(msg.payload.errLocation.length === 0 || msg.payload.errLocation === null){\n     delete msg.payload.errLocation;\n}\nif(msg.payload.errMsg.length >0 || msg.payload.errLocation.length >0){\n    msg.isError=true;\n}else{\n    msg.isError=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":495,"wires":[[]]},{"id":"c914c7ac.5392f8","type":"comment","z":"a444b392.e44d3","name":"체크항목(체크항목이 늘어나면 여기에 추가)","info":"","x":1081,"y":265,"wires":[]},{"id":"242a2e94.2f5112","type":"comment","z":"a444b392.e44d3","name":"루프처리","info":"","x":777,"y":36,"wires":[]},{"id":"3e340d21.ecf822","type":"comment","z":"a444b392.e44d3","name":"체크항목분기","info":"","x":640,"y":268,"wires":[]},{"id":"58303e3e.e29da","type":"comment","z":"a444b392.e44d3","name":"유효성검사후 처리","info":"","x":753,"y":457,"wires":[]},{"id":"a7b20a92.988228","type":"comment","z":"a444b392.e44d3","name":"유효성검사전 처리","info":"","x":474,"y":36,"wires":[]}]
