src/nodered/plugins/routing.json
[{"id":"55f16bff.459d34","type":"http in","z":"c3965455.0f9378","name":"","url":"/tomo","method":"get","swaggerDoc":"","x":90.89582824707031,"y":125.88888549804688,"wires":[["6ec399f7.51eaf8"]]},{"id":"61ce0c06.e495c4","type":"http in","z":"c3965455.0f9378","name":"","url":"/memberInput","method":"get","swaggerDoc":"","x":109.89579772949219,"y":249.88888549804688,"wires":[["2ff7b474.d59e8c"]]},{"id":"6ec399f7.51eaf8","type":"function","z":"c3965455.0f9378","name":"SetRoutingParams","func":"msg.action =\"tomo\";\n\nreturn msg;","outputs":1,"noerr":0,"x":383.83331298828125,"y":129.82640075683594,"wires":[[]]},{"id":"2ff7b474.d59e8c","type":"function","z":"c3965455.0f9378","name":"SetRoutingParams","func":"msg.action =\"memberInput\";\n\nreturn msg;","outputs":1,"noerr":0,"x":399.89573669433594,"y":255.88888549804688,"wires":[[]]},{"id":"bde704d4.c04398","type":"http in","z":"c3965455.0f9378","name":"","url":"/join","method":"post","swaggerDoc":"","x":99.89581298828125,"y":519.888916015625,"wires":[["fe412375.9d7d4"]]},{"id":"cb79214d.6ed8d","type":"http in","z":"c3965455.0f9378","name":"","url":"/login","method":"post","swaggerDoc":"","x":101.89581298828125,"y":382.8888854980469,"wires":[["939f57fb.070558"]]},{"id":"939f57fb.070558","type":"function","z":"c3965455.0f9378","name":"SetRoutingParams","func":"msg.action =\"login\";\nreturn msg;","outputs":1,"noerr":0,"x":396.895751953125,"y":384.8888854980469,"wires":[[]]},{"id":"fe412375.9d7d4","type":"function","z":"c3965455.0f9378","name":"SetRoutingParams","func":"msg.action =\"join\";\nreturn msg;","outputs":1,"noerr":0,"x":402.8957824707031,"y":521.8888854980469,"wires":[[]]},{"id":"3db2cbdf.6b88c4","type":"comment","z":"c3965455.0f9378","name":"{action = \"tomo\" }","info":"","x":388.8298797607422,"y":84.81944274902344,"wires":[]},{"id":"16dfe67.856281a","type":"comment","z":"c3965455.0f9378","name":"{action = \"memberInput\" }","info":"","x":405.8957977294922,"y":217.88888549804688,"wires":[]},{"id":"b165e57a.3dc868","type":"comment","z":"c3965455.0f9378","name":"{action = \"login\" }","info":"","x":384.8957977294922,"y":341.8888854980469,"wires":[]},{"id":"e23ff518.7756b8","type":"comment","z":"c3965455.0f9378","name":"{action = \"join\" }","info":"","x":386.8957977294922,"y":479.8888854980469,"wires":[]},{"id":"84b3cfc7.d95bf","type":"comment","z":"c3965455.0f9378","name":"로그인(화면)","info":"","x":83.89582824707031,"y":80.88888549804688,"wires":[]},{"id":"1fd04375.77c68d","type":"comment","z":"c3965455.0f9378","name":"회원가입(화면)","info":"","x":103,"y":214.88888549804688,"wires":[]},{"id":"f5945908.556168","type":"comment","z":"c3965455.0f9378","name":"로그인(AJAX)","info":"","x":93.89582824707031,"y":339.8888854980469,"wires":[]},{"id":"88f43928.4403a8","type":"comment","z":"c3965455.0f9378","name":"회원가입(AJAX)","info":"","x":113.89582824707031,"y":475.8888854980469,"wires":[]}]
